<template>
    <transition name="modal" v-if="showModal">
        <div class="modal-mask" @click="switchModalCallMeBackState(false)">
            <div class="modal-wrapper">
                <div class="modal-container" @click.stop="">
                    <div class="cross" @click="switchModalCallMeBackState(false)"></div>
                    <h2 class="text-uppercase">{{ label1 }}</h2>
                    <div class="modal-text">{{ label2 }}</div>
                    <form action="" autocomplete="off" @submit.prevent="submit">
                        <div class="err-field">
                            <div v-if="$v.phone_num.$error">
                                <span class="error" v-if="!$v.phone_num.required">{{ label3 }}</span> 
                                <span class="error" v-if="!$v.phone_num.mustBePhoneNum">{{ label4 }}</span> 
                            </div>
                        </div>
                        <input type="phone" name="phone" :placeholder="label5" v-model.trim="$v.phone_num.$model" class="light-input">
                        <input type="submit" :value="label6" class="button solid-button text-center">
                    </form>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import { required, helpers } from 'vuelidate/lib/validators'
    const debug = require('debug')('app:demo');
    const mustBePhoneNum = helpers.regex('mustBePhoneNum', /^(\+38)?0\d{3}\d{2}\d{2}\d{2}$/)

    export default{
        data() {
            return{
                isSent: false,
                sendingStatus: "",
                showModal: false,
                phone_num: "",
                label1: null,
                label2: null,
                label3: null,
                label4: null,
                label5: null,
                label6: null,
                labels: [
                    {
                        "label1": "Передзвоніть мені",
                        "label2": "Залиште свій номер телефону, й представник компаніїї зв'яжеться з Вами.",
                        "label3": "Вкажіть номер телефону",
                        "label4": "Неправильний формат номеру",
                        "label5": "Номер телефону",
                        "label6": "Відправити",
                    },
                    {
                        "label1": "Перезвоните мне",
                        "label2": "Оставьте свой номер телефона, и представитель компании свяжется с Вами.",
                        "label3": "Укажите номер телефона",
                        "label4": "Неправильный формат номера.",
                        "label5": "Номер телефона",
                        "label6": "Отправить",
                    },
                ],
            }
        },
        methods:{
            switchModalCallMeBackState: function(isShown) {
                this.showModal = isShown; 
                this.phone_num = "";
            },
            async submit() {      
                this.$v.$touch()
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                } else {
                    // submit logic
                    try {
                        const token = await this.$recaptcha.execute('send_feedback')
                    } catch (error) {
                        this.submitStatus = 'ERROR';
                        return;
                    }
                    await axios.post('https://test2.iti.dp.ua/api/communicate/', { 'phone': this.phone_num, 'name': this.name, 'question': this.question }, { headers: { 'X-CSRFTOKEN': 'csrftoken='+this.csrftoken+';' }})
                    .then((response) => {
                        this.isSent=true;
                        this.sendingStatus='SUCCEED';
                    })
                    .catch(error => {
                        this.isSent =true;
                        this.sendingStatus = 'FAILED';
                    })
                }
            },
        },
         mounted(){
             this.$root.$on('modal-cmb-on', (isShown) => {this.switchModalCallMeBackState(isShown)});
            for (let i = 0; i < this.labels.length; i++) {
                if (this.labels[i].lang == this.getCurrentLanguage) {
                    this.label1 = this.labels[i].label1;
                    this.label2 = this.labels[i].label2;
                    this.label3 = this.labels[i].label3;
                    this.label4 = this.labels[i].label4;
                    this.label5 = this.labels[i].label5;
                    this.label6 = this.labels[i].label6;
                    break;
                }
            }
         },
         computed: {
            getCurrentLanguage() {
                return (this.$store.getters.getCurrentLanguage != null)?this.$store.getters.getCurrentLanguage:this.$store.getters.getDefaultLanguage;
            },
         },
        watch: {
            getCurrentLanguage(value, oldvalue) {
                for (let i = 0; i < this.labels.length; i++) {
                    if (this.labels[i].lang == value) {
                        this.label1 = this.labels[i].label1;
                        this.label2 = this.labels[i].label2;
                        this.label3 = this.labels[i].label3;
                        this.label4 = this.labels[i].label4;
                        this.label5 = this.labels[i].label5;
                        this.label6 = this.labels[i].label6;
                        break;
                    }
                }
            }
        }
         validations: {
             phone_num: {
                 required, 
                 mustBePhoneNum,     
             },
         }
    }
</script>


<style lang="less" scoped>
@import '~assets/styles/index.less';
.button{
  margin-top: 30px; 
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
	position: relative;
	text-align: center;
  width: 700px;
  margin: 0px auto;
  padding: 40px 50px;
  background-color:@light_text;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}
.modal-text {
  width: 90%;
  margin: 0 auto 5px auto;
}

.modal-default-button {
  float: right;
}

input{
	width: 100%;
  border: none;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 15px;
}
form{
	text-align: center;
}
.cross{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 99999;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media(max-width: 767px){
  h2{
    margin-top: 20px;
  }
  .cross{
    top: 10px;
    right: 10px;
  }
}
</style>
