<template>
    <div>
        <Header/>
        <div class="block medium-bg">
            <div class="container">
                <div class="row"><div class="col-md-12"><h2 class="text-uppercase text-center">Информация о товаре</h2></div></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="info-block">
                            <div class="main-info">
                                <h3 v-if="h3OnTop">{{ item.name }}</h3>
                                <div v-if="item && item.images.length>0" class="item-slider-wrapper">
                                    <div id="item-slider">
                                        <button id="prev" class="prev control" :class="{'hide-controls': item.images.length <= 4}" @click="shiftSlide(-1)" :disabled="item.images[0].is_current">  </button>
                                        <div class="wrapper">
                                            <div class="slides" id="item-slides">
                                                <img v-for="img in item.images" v-bind:key="img.uuid" :src="img.url" @click="setCurrent(img)" class="item-slide" :class="{current:img.is_current}" alt="" /></div>
                                            </div>
                                            <button id="next" class="next control" :class="{'hide-controls': item.images.length <= 4}" @click="shiftSlide(1)" :disabled="item.images[item.images.length - 1].is_current"></button>
                                        </div>
                                        <div class="slide-to-show" id="slide-to-show">
                                            <transition name="fade">
                                                <img :src="currentImage2.url" :key="currentImage2.uuid"  v-if="currentImage2" id="item-slide-to-show" alt="" />
                                            </transition>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h3 v-if="!h3OnTop">{{ item.name }}</h3>
                                        <div class="price">от {{ item.price }} грн/кв.м.</div>
                                        <div>
                                            <div class="info-opt">Оптом и в розницу</div>
                                            <div class="info-time">Под заказ, 7 дней</div>
                                        </div>
                                        <div class="d-block">
                                            <div class="solid-button button button-margin" @click.prevent="showAddedToCartModal">Купить</div>
                                            <div class="button brdr-btn-main-color button-margin"  @click.prevent="showModalCallMeBack">Перезвоните мне</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    <h4>Описание</h4><span v-html="item.full_description" />
                                </div>
                                <div class="specification">
                                    <h4>Характеристики</h4>
                                    <table>
                                        <tr><th class="col-header" colspan=2>Основные</th></tr>
                                        <tr>
                                            <th>Производитель:</th>
                                            <td>Pruszynski</td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <th class="col-header" colspan=2>Размеры</th>
                                        </tr>
                                        <tr>
                                            <th>Длина:</th>
                                            <td>5315 мм</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="testimonials">
                                    <h4>Отзывы о товаре</h4>
                                    <div class="post-testimonial clearfix">
                                        <div class="post-testimonial-text float-left">Оставьте свой отзыв о товаре</div>
                                        <router-link to="/item_list/item/add_testimonial" class="button solid-button float-right">Добавить отзыв</router-link >
                                    </div>
                                    <div class="testimonial dark-t" v-for="t in item.testimonials" v-bind:key="t.id">
                                        <div class="t-info">
                                            <div class="name">{{t.author}}</div>
                                            <div class="date">{{t.date}}</div>
                                            <star-rating v-model="t.rating" :star-size="20" :show-rating="false" :read-only="true"></star-rating>
                                        </div>
                                        <div class="testimonial-text">{{t.text}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <Footer/>
    </div>	
</template>

<script>
    import Header from "../components/Header.vue"
    import Footer from "../components/Footer.vue"
    const debug = require('debug')('app:demo')

    export default{
        components: {	
            Header,
            Footer,
        },
        data(){
            return{
                items: [],
                posInitial: null,
                slides:[],
                slidesLength: null,
                slideSize: null,				
                index: 0,
                allowShift: true,				
                h3OnTop: false,
                page_identifier: 'ПРОДУКТ',
                page_type: 'Страница товара/услуги',
                local_title: '',
                local_subtitle: '',
            }
        },
        beforeMount() {
            window.addEventListener("resize", this.onResize);
//            this.resetSlider();
        },
        mounted: function(){
            this.onResize();			
            alert(this.$route.params.productalias);
//            alert(this.$store.getters.currentImage2.url);
        },
        async fetch({ store, params}) {
            if (store.getters.allParamsSets==null) {
                await store.dispatch('getSEOParams')
            }
            if (store.getters.getToken==null) {
                await store.dispatch('getCSRFToken')
            }
            if (store.getters.allPages==null) {
                await store.dispatch('getPages')
            }
            if (store.getters.Contact == null) {
                await store.dispatch('getContact')
            }
            if (store.getters.allBrands==null) {
                await store.dispatch('getBrands')
            }
            if (store.getters.allProjects == null) {
                await store.dispatch('getProjects')
            }
            if (store.getters.allCategories == null) {
                await store.dispatch('getCategories')
            }
            if (store.getters.allProducts == null) {
                await store.dispatch('getProducts')
            }
        },
        fetchOnServer: true,
        destroyed() {
           window.removeEventListener("resize", this.onResize);
        },
        methods:{
            onResize(){
                if(document.documentElement.clientWidth <= 991) {
                    this.h3OnTop = true;
                } else{
                    this.h3OnTop = false;
                }
                this.resetSlider();
            },
            resetSlider() {
                this.slides = this.items.getElementsByClassName('item-slide');			
                this.slidesLength = this.slides.length;
                const slide = this.items.getElementsByClassName('item-slide')[0].currentStyle ||  window.getComputedStyle(this.items.getElementsByClassName('item-slide')[0])
                this.slideSize = +this.items.getElementsByClassName('item-slide')[0].offsetHeight + parseInt(slide.marginBottom);						
                this.items.addEventListener('transitionend', this.checkShifting);
                this.items.style.top = 0;
                this.index = 0;
                this.setCurrent(this.item.images[0]);		
            },
            showAddedToCartModal() {    			
                this.$root.$emit('modal-atc-on', true);		        	
            },
            showModalCallMeBack() {    			
                this.$root.$emit('modal-cmb-on', true);		        	
            },
            shiftSlide(dir) {
                this.items.classList.add('shifting');					
                if (this.allowShift) {
                    this.posInitial = this.items.offsetTop; 
                    for (var i = 0; i < this.item.images.length; i++) {
                        if(this.item.images[i].uuid === this.currentImage2.uuid){
                            if (dir === 1) {
                                if(i !== (this.item.images.length - 1)){
                                    this.setCurrent(this.item.images[i + 1]);
                                    break; 
                                }
                            } else if (dir === -1) {
                                if(i !== 0) {
                                    this.setCurrent(this.item.images[i - 1]);
                                    break;
                                }
                            }
                        }
                    }
                    if (dir === 1) {
                        console.log(this.index)
                        if (this.index !== this.slidesLength - 4) {
                            this.items.style.top = (this.posInitial - this.slideSize) + "px";
                            this.index++;
                        }
                    } else if (dir === -1) {
                        if (this.index !== 0) {
                            this.items.style.top = (this.posInitial + this.slideSize) + "px";
                            this.index--;
                        }
                    }
                }
                this.allowShift = false;
            },
            checkShifting (){
                this.items.classList.remove('shifting');							
                this.allowShift = true;
            },
            setCurrent(img){
                this.$store.commit('setCurrentItemImage2', img);			
            },
            process_text(text) {
                let templates = text.match(/\{.*?\}/g);
                if (templates) {
                    for (let i=0; i<templates.length; i++) {
                        let local_titles = templates[i].match(/#.*?#/);
                        if (local_titles) {
                            let local_title = local_titles[0].substr(1,local_titles[0].length-2);
                            if (local_title) {
                                let cont = this[local_title];
                                if (cont!=null) {
                                    text = text.replace(templates[i], cont);
                                }
                            }
                        }
                        let params_sets = templates[i].match(/%.*?%/);
                        if (params_sets) {
                            let params_set = params_sets[0].substr(1,params_sets[0].length-2);
                            let params = templates[i].match(/\$.*?\$/);
                            let param = params[0].substr(1,params[0].length-2);
                            if (param) {
                                let cont = this.$store.getters.getParamFromSet(params_set,param);
                                if (cont!=null) {
                                    text = text.replace(templates[i], cont);
                                }
                            }
                        }
                    }
                }
                return text;
            }
        },
        computed: {
            item() {
                let cat = this.$store.getters.getCategory(this.$route.params.catalias);
                return this.$store.getters.getProduct(cat.name,this.$route.params.productalias);
            },
            getContent() {
                return this.$store.getters.getPage(this.page_identifier,this.page_type)[0];
            },
            currentCategory: function() {
                let a = this.$route.params.catalias;
                return this.$store.getters.getCategory(a);
            },
            currentImage2(){
                return this.$store.getters.currentImage2;
            },
            images() {
                return this.item.images;
            }
        }
    }
</script>

<style lang="less" scoped>
	@import '~assets/styles/index.less';
	.item-slider-wrapper{
		display: flex;
		flex-grow: 2;
	}
	.wrapper{
		overflow: hidden;
		position: relative;
		height: 480px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.slides{
		display: flex;
		flex-direction: column;
		position: relative;
		left: 0;
		top: 0px;
		height:  10000px;
		width: 100px;	

	}
	.item-slide{
		height: 100px;
		margin-bottom: 20px;
		width: 100%;
		background-color: @medium-bg;
		transition: 2s;
		position: relative;
		justify-content: center;
		cursor:pointer;
		object-fit: cover;
	}
	.control-container{
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
	}
	.control{
		width: 100%;
		height: 25px;
		transition: 0.4s;
		cursor:pointer; 
		border: none;
		outline: none;
	}
	.prev:disabled, .prev:disabled:hover{
		background: url('~assets/images/up-arr-unactive.png') no-repeat center;
		background-size: contain;
	}
	.next:disabled, .next:disabled:hover{
		background: url('~assets/images/down-arr-unactive.png') no-repeat center;
		background-size: contain;
	}	
	.prev:hover{
		background: url('~assets/images/up-arr-hover.png') no-repeat center;
		background-size: contain;
	}
	.next:hover{
		background: url('~assets/images/down-arr-hover.png') no-repeat center;
		background-size: contain;
	}
	.prev{
		background: url('~assets/images/up-arr.png') no-repeat center;
		background-size: contain;
	}
	.next{
		background: url('~assets/images/down-arr.png') no-repeat center;
		background-size: contain;
	}
	.slides.shifting {
		transition: top .4s;
	}
	.slide-to-show{
		width: 460px;
		height: 460px;
		overflow: hidden;
		margin-left: 30px;
		margin-right: 40px;
		margin-top: 50px;
	}
	.current{
		padding: 4px;
		transition: 0.4s;
	}
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.right{
		margin-top: 50px;
		flex-grow: 1;
	}
	.hide-controls{
		visibility: hidden;
	}

	.main-info{
		display: flex;	
		width: 100%;
	}
	.info-block{
		background-color: @light_text;
		width: 100%;
		padding: 30px;
	}

	h3{	
		margin-top: 0;
		margin-bottom: 25px;	
	}
	h4{
		margin-top: 40px;
		margin-bottom: 20px;
	}
	.button-margin{
		display: inline-block;
		margin-right: 30px;
		margin-top: 20px;
	}
	.info-time, .info-opt{
		font-size: 11px;
		line-height: 13px;
		display: inline;	
	}
	.info-opt::after{
		content: "";
		display: inline-block;
		width: 2px;
		height: 20px;
		background-color: @main_color;
		vertical-align: middle;	
		margin-left: 3px;
		margin-right: 3px;
	}
	.price{
		font-family: Montserrat;
		font-weight: 600;
		color: @main_color;
		font-size: 24px;
		font-weight: bold;	
		margin: 15px 0;	
	}
	.description{
		margin-top: 40px;
	}
	table{
		width: 100%;
		margin-bottom: 20px;
	}
	.col-header{	
		border-bottom: 1px solid @dark-bg;
	}
	td, th{
		padding: 15px;
	}
	th{
		font-weight: bold;
	}
	tr{
		border-bottom: 1px solid @medium-bg;
	}
	.post-testimonial{
		border: 1px solid @main_color;
	}
	.testimonial{
		border: 1px solid @dark-bg;
	}
	@media(max-width: 1999px){	
		.button{
			width: 100%;
		}

	}
	@media(max-width: 991px){	
		.main-info{
			flex-direction: column;
		}
		.right{
			margin-top: 0;
			margin-bottom: 30px
		}

	}
	@media(max-width: 767px){	
	.slides{
		width: 50px;
	}
	.item-slide{
		height: 50px;
	}
	.slide-to-show{
		margin-right: 0;
		margin-left: 20px;
		margin-top: 40px; 
		height: 260px;
	}
	.wrapper{
		height: 280px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.control{
			height: 15px
		}
	}
	@media(max-width: 430px){
		th, td{
			display: block;
			padding: 5px 0;
		}
		tr{
			padding: 5px 0;
			border-bottom: 1px solid @medium-bg;
		}	
		.slides{
			width: 40px;
		}
		.item-slide{
			height: 40px;
			margin-bottom: 15px;
		}
		.slide-to-show{
			margin-left: 15px;
		}
		.info-block{
			padding: 20px
		}
		.slide-to-show, .wrapper{
			//height: 300px
		}	
		.slide-to-show{
			//margin-top: 34px;
		}
		.wrapper{
			height: 220px
		}
		.item-slider-wrapper{
			margin-bottom: 30px;
		}
	}
</style>
