<template>
    <div v-show="allCategories && allCategories.length>0 && Items && Items.length>0" >
        <Header/>
        <div class="block medium-bg">		
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-uppercase text-left left-align">{{ currentCategory.name }}</h2>
                    </div>
                </div>
                <div v-show="currentCategory.full_description!=''" class="row">
                    <div class="col-md-12">
                        <div class="info-category">
                            <img v-if="currentCategory.image" :src="currentCategory.image" class="category-img" alt="">
                            <div>
                                <span v-html="currentCategory.full_description" />
                            </div>
                            </div>
                    </div>
                </div>
                <div class="row sort-margin">
                    <div class="col-md-12">
                        <div class="icon-pos">
                            <div class="filter-show" v-if="!show" @click="show = !show" key="filter-show"></div>
                            <div class="filter-hide" v-else @click="show = !show" key="filter-hide"></div>
                        </div>
                        <div class="sort-pos right">
                            <div class="text">Сортировать</div>
                            <CustomSelect :options="getSortOptions" :bordered="false" :placeholder="getSortOptions[getCurrentSortType]" class="select-pos" />
                        </div>
                    </div>		
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <nav>
                            <transition name = "fade">
                                <div v-if="show" class="sidebar">
                                    <span>
                                        <h3>Группа товаров/услуг</h3>
                                        <ul>
                                            <li v-for="cat in allCategories">
                                                <nuxt-link :to="`/items_list/${cat.alias}`" :class="{selected:currentCategory.alias===cat.alias}">{{ cat.name }}</nuxt-link>
                                            </li>
                                        </ul>
                                    </span>
                                    <span>
                                        <h3>Производитель</h3>
                                        <ul>
                                            <li>
                                                <CustomCheckbox v-for="m in manufacturers" v-bind:key="m.name">{{m}}</CustomCheckbox>	
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </transition>
                        </nav>	
                    </div>
                    <div v-show="displaylist" class="col-md-9 p-0">
                        <div  class="col-lg-4 col-md-6 col-sm-6 item-container" v-for="item in Items">
                            <nuxt-link v-bind:key="item.uuid" :to="`/items_list/${item.category_alias}/${item.alias}`" class="item-card">
                                <h3 :title="item.name"><span>{{ item.name }}</span></h3>
                                <img class="item-img" v-if="item.main_image" :src="`${item.main_image.url}`" alt="${item.main_image.name}" />
                                <div class="empty-pic-bg" v-if="!item.main_image"><div class="empty-img"></div></div>
                                <div class="info">Оптом и в розницу</div>
                                <div class="info">Под заказ, 7 дней</div>
                                <div class="price">от {{ item.price }} грн/кв.м.</div>
                                <form action="" autocomplete="off" @click.prevent="">
                                    <div class="counter align-top d-block">
                                        <div class="minus" @click.prevent="() => {
                                            if (item.count > 1){
                                                item.count--;
                                            }
                                        }">-</div>
                                        <input type="number" name="count" class="count" v-model.number="item.count" onkeyup="this.value=this.value.replace(/^[0]+/,'')">
                                        <div class="plus" @click.prevent="() => item.count++">+</div>
                                    </div>                                    
                                </form>
                                <div class="small-button solid-button" @click.prevent="addToCart(item)">Купить</div>
                                <div class="small-button brdr-btn-main-color" @click.prevent="showModalCallMeBack">Перезвоните мне</div>
                            </nuxt-link>
                        </div>
                    </div>
                </div>			
            </div>			
        </div>	
        <Footer/>
    </div>
</template>

<script>
    import axios from 'axios'
    import Header from "@/components/Header.vue"
    import Footer from "@/components/Footer.vue"
    import CustomSelect from "@/components/CustomSelect.vue";
    import CustomCheckbox from "@/components/CustomCheckbox.vue";
    const debug = require('debug')('app:demo')

    export default{
//        validate ({ params }) {
//            return /^\d+$/.test(params.id)
//        },
        components: {	
            Header,	
            CustomSelect,	
            CustomCheckbox,
            Footer
        },
        data(){
            return{
                displaylist: true,
                show: true,
                page_identifier: 'КАТЕГОРИЯ',
                page_type: 'Страница категории',
                local_title: '',
                local_meta_description: '',
                local_meta_keywords: '',
                item_count: 1,
            }
        },
        head() {
            if (this.getContent) {
                if (this.local_title=='') {
                    this.local_title = this.currentCategory.name;
                }
                if (this.local_meta_description=='') {
                    this.local_meta_description = this.currentCategory.meta_description;
                }
                if (this.local_meta_keywords=='') {
                    this.local_meta_keywords = this.currentCategory.meta_keywords;
                }
                return {
                    title: this.process_text(this.getContent.title),
                    meta: [
                        { hid:'description', name: 'description', content: this.process_text(this.getContent.meta_description) },
                        { hid: 'keywords', name: 'keywords', content: this.process_text(this.getContent.meta_keywords) },
                    ],    
                    link: [
                        {
                            rel: 'stylesheet',
                            href: 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap'
                        }
                    ],
                }
            }
        },
        methods:{
            //showAddedToCartModal() {
                //this.$root.$emit('modal-atc-on', true);
            //},
            addToCart(item) {
                //add to cart logic
                debug("========");
                this.$store.commit('addToCart', item);
//                let c = this.$store.getters.getCart;
                item.count = 1;
            },
            showModalCallMeBack() {
                this.$root.$emit('modal-cmb-on', true);
            },
            onResize(){
                if (document.documentElement.clientWidth <= 767) {
                    this.show = false;
                } else {
                    this.show = true;
                }
            },
            process_text(text) {
                let templates = text.match(/\{.*?\}/g);
                if (templates) {
                    for (let i=0; i<templates.length; i++) {
                        let local_titles = templates[i].match(/#.*?#/);
                        if (local_titles) {
                            let local_title = local_titles[0].substr(1,local_titles[0].length-2);
                            if (local_title) {
                                let cont = this[local_title];
                                if (cont!=null) {
                                    text = text.replace(templates[i], cont);
                                }
                            }
                        }
                        let params_sets = templates[i].match(/%.*?%/);
                        if (params_sets) {
                            let params_set = params_sets[0].substr(1,params_sets[0].length-2);
                            let params = templates[i].match(/\$.*?\$/);
                            let param = params[0].substr(1,params[0].length-2);
                            if (param) {
                                let cont = this.$store.getters.getParamFromSet(params_set,param);
                                if (cont!=null) {
                                    text = text.replace(templates[i], cont);
                                }
                            }
                        }
                    }
                }
                return text;
            }, 
            handleScroll(){
                this.$store.dispatch('setScrollPositionValue', window.scrollY)                
            },           
        },
        beforeMount() {
            window.addEventListener("resize", this.onResize);            
        },
        destroyed() {
            window.removeEventListener("resize", this.onResize);
            window.removeEventListener('scroll', this.handleScroll);
        },
        async fetch({ store, params}) {
            await store.dispatch('getLastChanges');
            if ((store.getters.allParamsSets==null) || (store.getters.getCurrentVersion.seo != store.getters.getSEOVersion)) {
                await store.dispatch('getSEOParams');
                store.commit('setSEOVersion', store.getters.getCurrentVersion.seo);
            }
            if (store.getters.getToken==null) {
                await store.dispatch('getCSRFToken')
            }
            if ((store.getters.allPages==null) || (store.getters.getCurrentVersion.pages != store.getters.getPagesVersion)) {
                await store.dispatch('getPages')
                store.commit('setPagesVersion', store.getters.getCurrentVersion.pages);
            }
            if ((store.getters.Contact == null) || (store.getters.getCurrentVersion.contacts != store.getters.getContactVersion)) {
                await store.dispatch('getContact')
                store.commit('setContactVersion', store.getters.getCurrentVersion.contacts);
            }
            if ((store.getters.allBrands==null) || (store.getters.getCurrentVersion.brands != store.getters.getBrandsVersion)) {
                await store.dispatch('getBrands')
                store.commit('setBrandsVersion', store.getters.getCurrentVersion.brands);
            }
            if ((store.getters.allProjects == null) || (store.getters.getCurrentVersion.projects != store.getters.getProjectsVersion)) {
                await store.dispatch('getProjects')
                store.commit('setProjectsVersion', store.getters.getCurrentVersion.projects);
            }
            if ((store.getters.allCategories == null) || (store.getters.getCurrentVersion.categories != store.getters.getCategoriesVersion)) {
                await store.dispatch('getCategories')
                store.commit('setCategoriesVersion', store.getters.getCurrentVersion.categories);
            }
            if ((store.getters.allProducts == null) || (store.getters.getCurrentVersion.products != store.getters.getProductsVersion)) {
                await store.dispatch('getProducts')
                store.commit('setProductsVersion', store.getters.getCurrentVersion.products);
            }
        },
        fetchOnServer: true,
        computed: {
            getCurrentSortType() {
                return this.$store.getters.getSortType;
            },
            getSortOptions() {
                return this.$store.getters.getSortOptions;
            },
            getContent() {
                return this.$store.getters.getPage(this.page_identifier,this.page_type)[0];
            },
            currentCategory: function() {
                let a = this.$route.params.catalias;
                return this.$store.getters.allCategories.filter(item => item.alias == a)[0];
            },
            allCategories() {
                return this.$store.getters.allCategories;
            },
            manufacturers() {
                let products = this.$store.getters.getProductsForCategory(this.currentCategory.name);
                let brands = [];
                if (products) {
                    products.forEach(function(item) {
                        if (item.brand) {
                            if (brands.indexOf(item.brand)==-1) { brands.push(item.brand); }
                        }
                    });
                }
                //alert(brands.length);
                return brands;
            },
            Items() {
                let i;
                let a = this.$route.params.catalias;
                let cat=this.$store.getters.allCategories.filter(item => item.alias == a)[0];
                let items = this.$store.getters.getProductsForCategory(cat.name);
                let sorteditems = [];
                let st = this.$store.getters.getSortType;
//getCurrentSortType();
                
                items.forEach(function(item, index) {
                    item.count = 1;
                    i=0;
                    while(i<sorteditems.length) {
                        if (((st == 0) && (item.name < sorteditems[i].name)) || 
                            ((st == 1) && (item.price < sorteditems[i].price)) || 
                            ((st == 2) && (item.price>sorteditems[i].price))) {
                            break;
                        }
                        i++;
                    }
                    if (i==sorteditems.length) { sorteditems.push(item); }
                    else { sorteditems.splice(i,0,item); }
                });
                return sorteditems;
            },
        },
        watch: {
            getCurrentSortType(val, oldval) {
                displaylist = !displaylist;
                displaylist = !displaylist;
            }
        },
        mounted(){
            window.addEventListener('scroll', this.handleScroll);

            this.onResize();

            this.local_title = this.currentCategory.name;
            //this.alias = this.$route.params.catalias;
//            this.$root.$on('sort_type', function(item) {
//                alert('12345');
//            });
        }
    }
</script>

<style lang="less" scoped>
@import '~assets/styles/index.less';
.info-category{	
	padding: 25px;
	font-size: 18px;
	line-height: 27px; 
	background-color: @light_text;
        display: flex;
}

@media(max-width: 575px){
    .info-category{
        flex-direction: column;
    }
    .category-img{
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.category-img{
    display: block;
    min-width: 80px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 30px;
}

.select-pos {    
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 20px;
}
.right{
	margin: 0 0 0 auto;
	width: fit-content;
}
.sort-margin{
	margin-top: 60px;
}
.text{
	display: inline-block;
	width: 100px;
	font-weight: bold;
	line-height: 47px;
}
ul {
    list-style: none;
    padding: 35px 0;
    margin: 0;
}
li{
	margin-bottom: 20px;
}
.sidebar{
	a{
		color: @dark-bg;
	}
	a:hover, label:hover, .selected{
		color: @main_color;
		font-weight: bold;
	}
}
input[type=checkbox] {
	//display: none;
} 
input[type=checkbox]:checked + label {
  color: @main_color;
  font-weight: bold;
} 
.small-button{
	margin-top: 15px;
}
.filter-show, .filter-hide{
	display: none;	
}
.icon-pos{
	margin-bottom: auto;
	margin-top: 0;
}

.counter{
    margin-top: 15px;
  display: block;
  //z-index: 9999;
}
.minus, .plus, .count{
  padding: 0 15px;
  line-height: 40px;
  display: inline-block;
  z-index: 9999;
}
.count{
  background-color: @light_text;
  width: 80px;
  border: none;
  background-color: @medium-bg;
  text-align: center;
}
.minus, .plus{
  background-color: @main_color;
  font-weight: bold;
  color: @light_text;
}
.minus:hover, .plus:hover{
  background-color: @hover_main_color;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
@media(max-width: 767px){
	.filter-show, .filter-hide{
		display: block;		
		background-size: contain;
		background-position: center;
		float: left;
		width: 36px;
		height: 36px;	
	}
	.filter-show{
		background: url("~assets/images/filter-icon.png") no-repeat;		
	}
	.filter-hide, .filter-show:hover{
		background: url("~assets/images/filter-icon-hover.png") no-repeat;		
	}
	.select-pos{
		float: right;
	}
	.text{
		margin-top: auto;
		margin-bottom: auto;
	}
	.sidebar{
		position: relative;
		margin-top: 15px;
		background-color: @light_text;
		padding: 15px;
	}
	.icon-pos{
		float: left
	}
}
@media(max-width: 600px){
	.text, .select-pos{
		display: block;
	}
	.text{
		margin-left: auto;
		margin-right: 0;	
	}
	.icon-pos{
		height: 94px;
	}
	.filter-hide,.filter-show{
		height: 100%;	
		background-position: bottom;		
	}
}
</style>
