<template>
	<div v-if="abouttext1 || abouttext2 || abouttext3" class="block medium-bg" id="about_us">
		<div v-if="abouttext1" class="group position-relative">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
					</div>
					<div class="col-md-6 text-block-right">
                                                <span v-html="abouttext1" />
					</div>
				</div>
			</div>
			<div class="about-pic left-pic pic-1">			
			</div>						
		</div>
		<div v-if="abouttext2" class="group position-relative">			
			<div class="container">
				<div class="row">					
					<div class="col-md-6 text-block-left">
                                             <span v-html="abouttext2" />
					</div>
					<div class="col-md-6">
					</div>
				</div>
			</div>
			<div class="about-pic right-pic pic-2">			
			</div>						
		</div>
		<div v-if="abouttext3" class="group position-relative">				
			<div class="container">
				<div class="row">
					<div class="col-md-6">
					</div>
					<div class="col-md-6 text-block-right">
                                                <span v-html="abouttext3" />
					</div>
				</div>
			</div>	
			<div class="about-pic left-pic pic-3">			
			</div>					
		</div>
	</div>
</template>

<script>
    export default{
        props: {
            abouttext1: String,
            abouttext2: String,
            abouttext3: String
        }
    }
</script>

<style lang="less" scoped>
@import '../assets/styles/index.less';
.pic-1{
	background: url(../assets/images/about-pic-1.jpg) no-repeat;
	background-size: cover;	
	//background-position: right;
}
.pic-2{
	background: url(../assets/images/about-pic-2.jpg) no-repeat;
	background-size: cover;
	//background-position: right;	
}
.pic-3{
	background: url(../assets/images/about-pic-3.jpg) no-repeat;
	background-size: cover;	
	//background-position: right;
}
.about-pic{
	width: 47%;
	height: 400px;
	position: absolute;
	top: 0;
}
.left-pic{
	left:0;
}
.right-pic{
	right:0;
}
.about-pic-right{
	width: 47%;
	height: 450px;
	position: absolute;
	top: 0;
}
.group{
	min-height: 450px;
	margin-bottom: 50px; 
	height: 500px;
	height: auto;
	max-width: 2000px;
	margin-right: auto;
	margin-left: auto;
}
.group:last-child{
	margin-bottom: 0;	
}
p{
	line-height: 27px;
	margin-bottom: 20px;	
}
.left-pic:after {
  content: " ";
  display: block;
  width: 85%;
  height: 45px;
  background-color: #24292D;
  position: absolute;
  bottom:-45px;
}
.right-pic:after {
  content: " ";
  display: block;
  width: 85%;
  height: 45px;
  background-color: #24292D;
  position: absolute;
  bottom:-45px;
  right: 0;
}
@media(max-width: 767px){
	.about-pic{
		position: relative;
		width: 100%;
		margin-top: 20px
	}	
	.block{
		padding-bottom: 0 100px 0;
	}
}
</style>
