<template>
  <transition name="modal" v-if="showModal">
    <div class="modal-mask" @click="switchModalCallMeBackState(false)">
      <div class="modal-wrapper">
        <div v-if = "!isSent" class="modal-container" @click.stop="">
            <div class="cross" @click="switchModalCallMeBackState(false)"></div>
            <h2 class="text-uppercase">{{ label1 }}</h2>
          <div class="modal-text">{{ label2 }}</div>
          <form action="" autocomplete="off" @submit.prevent="submit">
             <div class="err-field">
              <div v-if="$v.name.$error">
                <span class="error" v-if="!$v.name.required">{{ label3 }}</span>
                <span class="error" v-if="!$v.name.mustBeName">{{ label4 }}</span>
              </div>
            </div>
            <input type="text" name="text" :placeholder="label5" v-model.trim="$v.name.$model" class="light-input">
            <div class="err-field">
              <div v-if="$v.phone_num.$error">
                <span class="error" v-if="!$v.phone_num.required">{{ label6 }}</span> 
                <span class="error" v-if="!$v.phone_num.mustBePhoneNum">{{ label7 }}</span> 
              </div>
            </div>
            <input type="phone" name="phone" :placeholder="label8"  v-model.trim="$v.phone_num.$model" class="light-input">
            <div class="buttons">
              <button class="button brdr-btn-dark-color" @click="switchModalCallMeBackState(false)">{{ label9 }}</button>
              <button type="submit" class="button solid-button text-center">{{ label10 }}</button>              
             </div>
         </form>
      </div>
        <div v-if="isSent && sendingStatus === 'SUCCEED'" class="modal-container" @click.stop="">
          <div class="cross" @click="switchModalCallMeBackState(false)">
          </div>
          <h2 class="text-uppercase">{{ label11 }}</h2>        
          <div class="modal-img">
            <div class="tick-border border">
              <div class="tick icon"></div>
            </div>
          </div>
           <div class="modal-text">{{ label12 }}</div>
          <button class="button solid-button center-button" @click="switchModalCallMeBackState(false)">ОК</button>
        </div>
        <div v-if="isSent && sendingStatus === 'FAILED'" class="modal-container" @click.stop="">
          <div class="cross" @click="switchModalCallMeBackState(false)">
          </div>
          <h2 class="text-uppercase">{{ label13 }}</h2>        
          <div class="modal-img">
            <div class="red-cross-border border">
              <div class="red-cross icon">
              </div>
            </div>                       
          </div>
           <div class="modal-text">{{ label14 }}</div>
          <button class="button solid-button center-button" @click="switchModalCallMeBackState(false)">{{ label15 }}</button>                    
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
    import axios from 'axios' 
    import { required, helpers } from 'vuelidate/lib/validators'
    const debug = require('debug')('app:demo')
//    const mustBePhoneNum = helpers.regex('mustBePhoneNum', /^(\+38)?0\d{3}\d{2}\d{2}\d{2}$/);

    const mustBePhoneNum = helpers.regex('mustBePhoneNum', /^(\+38)?0\d{2}\d{3}\d{2}\d{2}$/)
    const mustBeName = helpers.regex('mustBeName', /^[a-zA-Zа-яА-ЯёЁ]*[`'-]?$/);

    export default{
        
        data() {
            return {
                showModal: false,
                phone_num: "",
                name: "",
                question: "Перезвоните мне",
                isSent: false,
                sendingStatus: "SUCCEED",
                label1: null,
                label2: null,
                label3: null,
                label4: null,
                label5: null,
                label6: null,
                label7: null,
                label8: null,
                label9: null,
                label10: null,
                label11: null,
                label12: null,
                label13: null,
                label14: null,
                label15: null,
                labels: [
                    {
                        "label1": "Передзвоніть мені",
                        "label2": "Залиште свій номер телефону, й представник компанії зв'яжеться з Вами",
                        "label3": "Вкажіть Ваше ім'я",
                        "label4": "Ім'я містить неприпустимі символи",
                        "label5": "Ваше ім'я",
                        "label6": "Вкажіть номер телефону",
                        "label7": "Неправильний формат номера",
                        "label8": "Номертелефону",
                        "label9": "Назад",
                        "label10": "Відправити",
                        "label11": "Ваше замовлення було успішно відправлено!",
                        "label12": "Представник компанії ближчим часом зв'яжеться з Вами",
                        "label13": "Виникла помилка",
                        "label14": "Ваше замовлення не було відправлено. Спробуйте ще раз",
                        "label15": "ОК",
                        "lang": "ua",
                    },
                    {
                        "label1": "Перезвоните мне",
                        "label2": "Оставьте свой номер телефона и представитель компании с вами свяжется",
                        "label3": "Укажите ваше имя",
                        "label4": "Имя сордержит недоспустимые символы",
                        "label5": "Ваше имя",
                        "label6": "Укажите номер телефона.",
                        "label7": "Неправильный формат номера",
                        "label8": "Номер телефона",
                        "label9": "Назад",
                        "label10": "Отправить",
                        "label11": "Ваша заявка была успешно отправлена!",
                        "label12": "Представитель компании свяжется с вами в ближайшее время.",
                        "label13": "Произошла ошибка!",
                        "label14": "Ваша заявка не была отправлена. Попробуйте еще раз",
                        "label15": "ОК",
                        "lang": "ru",
                    },
                ],
            }
        },
        methods:{
            switchModalCallMeBackState: function(isShown) {         
                this.showModal = isShown; 
                this.phone_num = "";
                this.name = "";
                this.$v.$reset();
            },
            async submit() {      
                this.$v.$touch()
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                } else {
//                   try {
//                        const token = await this.$recaptcha.execute('send_feedback')
//                    } catch (error) {
//                        this.submitStatus = 'ERROR';
//                        return;
//                    }
                    debug("+++++");
                    debug(this.getToken);
                    await axios.post('https://test2.iti.dp.ua/api/communicate/', { 'phone': this.phone_num, 'name': this.name, 'question': this.question }, { headers: { 'X-CSRFTOKEN': 'csrftoken='+this.getToken+';' }})
                    .then((response) => {
                        this.isSent=true;
                        this.sendingStatus='SUCCEED';
                    })
                    .catch(error => {
                        this.isSent =true;
                        this.sendingStatus = 'FAILED';
                    })
                }
            },
         },
         mounted(){
             this.$root.$on('modal-cmb-on', (isShown) => {this.switchModalCallMeBackState(isShown)});
            for (let i = 0; i < this.labels.length; i++) {
                if (this.labels[i].lang == this.getCurrentLanguage) {
                    this.label1 = this.labels[i].label1;
                    this.label2 = this.labels[i].label2;
                    this.label3 = this.labels[i].label3;
                    this.label4 = this.labels[i].label4;
                    this.label5 = this.labels[i].label5;
                    this.label5 = this.labels[i].label5;
                    this.label5 = this.labels[i].label5;
                    this.label5 = this.labels[i].label5;
                    this.label5 = this.labels[i].label5;
                    this.label5 = this.labels[i].label5;
                    this.label5 = this.labels[i].label5;
                    this.label5 = this.labels[i].label5;
                    this.label5 = this.labels[i].label5;
                    this.label5 = this.labels[i].label5;
                    this.label5 = this.labels[i].label5;

                    break;
                }
            }
        },
        computed: {
            getToken() {
                return this.$store.getters.getCSRFToken;
            },
            getCurrentLanguage() {
                return (this.$store.getters.getCurrentLanguage != null)?this.$store.getters.getCurrentLanguage:this.$store.getters.getDefaultLanguage;
            },

        },
        watch: {
            getCurrentLanguage(value, oldvalue) {
                for (let i = 0; i < this.labels.length; i++) {
                    if (this.labels[i].lang == value) {
                        this.label1 = this.labels[i].label1;
                        this.label2 = this.labels[i].label2;
                        this.label3 = this.labels[i].label3;
                        this.label4 = this.labels[i].label4;
                        this.label5 = this.labels[i].label5;
                        break;
                    }
                }
            }
        },

        validations: {
             phone_num: {
                 required,
                 mustBePhoneNum,     
             },
             name: {
                 required,
                 mustBeName,     
             },
         }
    }
</script>


<style lang="less" scoped>
@import '../assets/styles/index.less';
.button{
  margin-top: 30px; 
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
	position: relative;
	text-align: center;
  width: 700px;
  margin: 0px auto;
  padding: 40px 50px;
  background-color:@light_text;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}
.modal-text {
  width: 90%;
  margin: 0 auto 5px auto;
}

.modal-default-button {
  float: right;
}

input{
	width: 100%;
  border: none;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 15px;
}
form{
	text-align: center;
}
.cross{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 99999;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.buttons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal-img{
  margin-bottom: 30px;
}

.center-button{
  margin: 30px auto 30px auto 
}

.tick {
        background: url("../assets/images/success.png") no-repeat center;
    }

    .red-cross {
        background: url("../assets/images/red-cross.png") no-repeat center;
    }

    .icon {
        width: 80px;
        height: 80px;
        background-size: contain;
    }

    .tick-border {
        border: 1px solid #6BAE3C !important;
        background: rgba(0, 255, 0, 0.03);
    }

    .red-cross-border {
        border: 1px solid #D85D5D !important;
        background: rgba(255, 0, 0, 0.02);
    }

    .border {
        padding: 35px;
        width: fit-content;
        border-radius: 50%;
        margin: 40px auto auto;
    }



@media(max-width: 767px){
  h2{
    margin-top: 20px;
  }
  .cross{
    top: 10px;
    right: 10px;
  }
  .buttons{
    flex-direction: column-reverse;
  }
  .modal-text {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }

  .icon{
    height: 50px;
    width: 50px;    
  }
  .border{
    padding: 25px; 
  }
}
</style>
