<template>
    <div class="counter">
        <div class="minus" @click.prevent="dec();">-</div>
        <input type="number" class="count" v-model.number="counter" min=1 max=999999 ondragstart="return false;" ondrop="return false;"  @keypress="isNumber($event)">
        <div class="plus" @click.prevent="inc();">+</div>
    </div>
</template>
<script>
    const debug = require('debug')('app:demo')
    export default{
        props: [ 'product' ],
        data() {
            return {
                counter: Number,
            }
        },
        mounted() {
            this.counter = this.$store.getters.getProductCartCount(this.product);
        },
        methods: {
            inc() {
                this.counter=this.counter+1;
            },
            dec() {
                if (this.counter>1) this.counter=this.counter-1;
            },
            isNumber(evt){
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if((this.counter === undefined || this.counter === "") && charCode === 48){
                    evt.preventDefault();
                }
                if ((charCode > 31 && (charCode < 48 || charCode > 57))) {
                    evt.preventDefault();
                }               
                else {
                    return true;
                }
            }
        },
        computed:{
            temp_count(){
                return this.$store.getters.getProductTempCount(this.product);
            }
        },
        watch: {
            temp_count(value, oldvalue){
                if (value != undefined) { this.counter = value; }
                else { 
                    this.counter = 1; 
                }
            },
            counter(value, oldvalue) {
                let product = this.product;
                this.$store.commit('setProductTempCount',  { product, value });
            },
        },
    }
</script>
<style lang="less" scoped>
@import '~assets/styles/index.less';

.info-category{	
	padding: 25px;
	font-size: 18px;
	line-height: 27px; 
	background-color: @light_text;
        display: flex;
}

@media(max-width: 575px){
    .info-category{
        flex-direction: column;
    }
    .category-img{
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.category-img{
    display: block;
    min-width: 80px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 30px;
}

.select-pos {    
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 20px;
}
.right{
	margin: 0 0 0 auto;
	width: fit-content;
}
.sort-margin{
	margin-top: 60px;
}
.text{
	display: inline-block;
	width: 100px;
	font-weight: bold;
	line-height: 47px;
}
ul {
    list-style: none;
    padding: 35px 0;
    margin: 0;
}
li{
	margin-bottom: 20px;
}
.sidebar{
	a{
		color: @dark-bg;
	}
	a:hover, label:hover, .selected{
		color: @main_color;
		font-weight: bold;
	}
}
input[type=checkbox] {
	//display: none;
} 
input[type=checkbox]:checked + label {
  color: @main_color;
  font-weight: bold;
} 
.small-button{
	margin-top: 15px;
}
.filter-show, .filter-hide{
	display: none;	
}
.icon-pos{
	margin-bottom: auto;
	margin-top: 0;
}

.counter{
    margin-top: 15px;
    display: flex;
}
.minus, .plus, .count{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  //z-index: 9999;
}
.count{
  background-color: @light_text;
  width: 80px;
  border: none;
  background-color: @medium-bg;
  text-align: center;
}
.minus, .plus{
  background-color: @main_color;
  font-weight: bold;
  color: @light_text;
}
.minus:hover, .plus:hover{
  background-color: @hover_main_color;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
@media(max-width: 767px){
	.filter-show, .filter-hide{
		display: block;		
		background-size: contain;
		background-position: center;
		float: left;
		width: 36px;
		height: 36px;	
	}
	.filter-show{
		background: url("~assets/images/filter-icon.png") no-repeat;		
	}
	.filter-hide, .filter-show:hover{
		background: url("~assets/images/filter-icon-hover.png") no-repeat;		
	}
	.select-pos{
		float: right;
	}
	.text{
		margin-top: auto;
		margin-bottom: auto;
	}
	.sidebar{
		position: relative;
		margin-top: 15px;
		background-color: @light_text;
		padding: 15px;
	}
	.icon-pos{
		float: left
	}
}
@media(max-width: 600px){
	.text, .select-pos{
		display: block;
	}
	.text{
		margin-left: auto;
		margin-right: 0;	
        width:auto;
        text-align: right;
	}
	.icon-pos{
		height: 94px;
	}
	.filter-hide,.filter-show{
		height: 100%;	
		background-position: bottom;		
	}
}



</style>
