<template>
	<div class="popup" id="cart_popup">
	    {{text}}
	</div>
</template>

<script>
	export default{
		props:{
		text: {
				type: String,
				default: 'Lorem ipsum',
			}
		},
        created() {
		    this.unsubscribe = this.$store.subscribe((mutation, state) => {
		    	if (mutation.type === 'addToCart') {
		    		this.animatePopUp(); 		        
		    	}
		    });
		},
		beforeDestroy() {
			this.unsubscribe();
		},
        methods:{
        	animatePopUp(){
				document.getElementById('cart_popup').classList.add("show_popup");
        		//console.log(document.getElementById('cart_popup').classList);
        		setTimeout(()=>{
        			document.getElementById('cart_popup').classList.remove("show_popup"); 
        			//console.log(document.getElementById('cart_popup').classList);
        		}, 2000)
			}
        }
	}	
</script>

<style lang="less" scoped>
@import '~assets/styles/index.less';

.popup{
	opacity:0;
	background-color: #fbf2dc;
	position: absolute;
	bottom: -50px;
	right:0;
	width: max-content;
	padding: 7px 14px;
	color: @dark-bg;
	border: 1px solid @dark-bg;	
	transition: 1s;

}
.popup:before{
	content: "";
	position: absolute;
	top: -16px;
	right: 4px;
	width: 20px;
	height: 20px;
    border: 10px solid transparent; 
    border-bottom: 10px solid #fbf2dc; 
}

.show_popup{
	transition: 1s;
	opacity: 1 !important;
}
	
</style>

