<template>
	<div>
		<Header/>
		<div class="block medium-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="text-uppercase text-center">
							Товары и услуги
						</h2>
					</div>
				</div>	
				<div class="row">
					<div class="col-lg-4 col-sm-12 category-margin" v-for="c in allCategories" v-bind:key="c.id">
                                                <router-link :to="{ name: 'item_list', params: { alias: c.alias }}">
							<div class="counter">
								{{c.items_count}}
							</div>
                                                        <img :src=c.image alt="" class="image">	
							<h3>
								{{c.name}}
							</h3>						
						</router-link>						
					</div>
				</div>					
			</div>
		</div>
		<Footer/>
	</div>	
</template>

<script>
    import Header from "~components/Header.vue"
    import Footer from "~components/Footer.vue"
    export default{
        name: 'Categories',
            components: {	
                Header,	
                Footer,
            },
       data(){
            return{							
                actual_title: null,
                title: [
                    {
                        "text": "Наші проєкти",
                        "lang": "UA",
                    },
                    {
                        "text": "Наши проекты",
                        "lang": "RU",
                    },
                ],
            }
        },
            computed: {
                allCategories() {
                    return this.$store.getters.allCategories;
                }
            }

        }
</script>

<style lang="less" scoped>
@import '~assets/styles/index.less';
h3{
	max-width: 312px;
	margin-right: auto;
	margin-left: auto;
}
h3:after{
	content: none; 
}
h3:before{
	content: " ";
  display: block;
  width: 80px;
  height: 1px;  
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: @main_color;
}
.category-margin{
	padding: 15px;
}
.image{
	width: 100%;
	height: 318px;
	object-fit: contain;
	background-color: @medium-bg;
	margin-bottom: 15px;
}
.category{
	display: block;
	padding: 15px 15px 35px 15px;
	width: 100%;
	height: fir-content;
	background-color: @light_text;
	color: @dark-bg;
	text-align: center;
	border: 1px solid transparent;
}
.category:hover{
	color: @main_color;
	border: 1px solid @main_color;
}
.counter{
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 15px 18px;	
	min-width: 55px;
	background-color: @main_color;
	font-weight: bold;
	color: @light_text;
}
</style>