<template>
    <div class="block" id="contacts">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-uppercase text-center" v-html="actual_title"></h2>
                </div>
            </div>
            <div v-if="map_info" class="row map" v-html="map_info"></div>
            <div class="row contact-info">
                <div v-if="contact_info" class="col-md-9  col-sm-8" v-html="contact_info"></div>
                <div class="col-md-3 col-sm-4">
                    <span v-html="schedule_info" />
                    <span v-html="delivery_info" />
                    <span v-html="payments_info" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const debug = require('debug')('app:demo')
    export default{
        props: {
            map_info: String,
            contact_info: String,
            schedule_info: String,
            delivery_info: String,
            payments_info: String
        },
        data() {
            return {
                actual_title: null,
                title: [
                    {
                        "text": "Контакти",
                        "lang": "ua",
                    },
                    {
                        "text": "Контакты",
                        "lang": "ru",
                    },
                ],
            }
        },
//        mounted() {
//                debug(this.map_info)
//                debug(this.payments_info)
//        },

        mounted() {
            //debug(this.getCurrentLanguage);
            for (let i = 0; i < this.title.length; i++) {
                if (this.title[i].lang == this.getCurrentLanguage) {
                    //debug("===   "+this.title[i].text);
                    this.actual_title = this.title[i].text;
                }
            }
        },
        computed: {
            getCurrentLanguage() {
                return this.$store.getters.getCurrentLanguage;
            },
        },
        watch: {
            getCurrentLanguage(value, oldvalue) {
                for (let i = 0; i < this.title.length; i++) {
                    if (this.title[i].lang == value) {
                        this.actual_title = this.title[i].text;
                        break;
                    }
                }
            }
        },
    }
</script>

<style lang="less" scoped>
@import '~assets/styles/index.less';
.contact-info{
    margin-top: 50px;
    /deep/ h3{
               margin-bottom: 25px;
           }
    /deep/ table{
               margin-bottom: 30px;
           }
    /deep/ .big-table{
       td{
               padding: 15px 30px 15px 0;
      }
    }
    /deep/ .small-table{
      td{
               padding: 2px 10px 2px 0;
      }
    }
    /deep/ tr{
               vertical-align: top;
           }
    /deep/ .bold{
               font-weight: bold;
           }
}
.map{
  /deep/ p{
    width:100%;
  }
}
@media(max-width: 768px){
	/deep/ td{
		display: block;
	}
	/deep/ .big-table{
     td{
      padding: 5px 5px 5px 0;
    }
  }
 
	/deep/ .small-table{
    td{
      padding: 2px 20px 2px 0;
    }
  }
  
}
@media(max-width: 575px){ 
  /deep/ .small-table{
    td{
      display: table-cell;
    }
  }
}
</style>
