<template>
    <div class="block dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-uppercase text-center light-text" v-html="actual_title"></h2>
                </div>
            </div>			
            <form v-show="!isSent" action="" autocomplete="off"  @submit.prevent="submit">
                <div class="row">
                    <div class="col-md-6">
                        <div class="err-field">
                            <div v-if="$v.name.$error">
                                <span class="error" v-if="!$v.name.required" v-html="error_text1"></span>
                                <span class="error" v-if="!$v.name.minLength" v-html="error_text2"></span>
                                <span class="error" v-if="!$v.name.onlyLetters" v-html="error_text3"></span>		
                            </div>
                        </div>
                        <input type="text" name="name" id="name" :placeholder="actual_placeholder1" v-model.trim="$v.name.$model" class="dark-input" >
                        <div class="err-field">
                            <div v-if="$v.phone_num.$error">
                                <span class="error" v-if="!$v.phone_num.required" v-html="error_text4"></span>
                                <span class="error" v-if="!$v.phone_num.mustBePhoneNum" v-html="error_text5"></span>
                            </div>
                        </div>
                        <input type="text" name="phone" :placeholder="actual_placeholder2" v-model.trim="$v.phone_num.$model" class="dark-input">
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="err-field">
                            <div v-if="$v.question.$error">
                                <span class="error" v-if="!$v.question.required" v-html="error_text6"></span>
                            </div>
                        </div>
                        <textarea name="question" :placeholder="actual_placeholder3" class="dark-input" v-model="question"></textarea>
                        <input type="button" :value="sendbutton_title" class="button solid-button" @click="onSubmit">

                    </div>
                </div>	
            </form> 
            <div v-show="isSent && sendingStatus === 'SUCCEED'">
                <div class="row">
                    <div class="col-md-12 contact-us-block">
                        <div class="image">
                            <div class="tick-border border">
                                <div class="tick icon"></div>
                            </div>
                        </div>
                        <div class="text" v-html="success_text"></div>
                    </div>
                </div>
            </div>
            <div v-show="isSent && sendingStatus  === 'FAILED'">
                <div class="row">
                    <div class="col-md-12 contact-us-block">
                        <div class="image">
                            <div class="red-cross-border border">
                                <div class="red-cross icon"></div>
                            </div>
                        </div>
                        <div class="text" v-html="error_text7"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import { required, minLength, helpers } from 'vuelidate/lib/validators'
    const mustBePhoneNum = helpers.regex('mustBePhoneNum', /^(\+38)?0\d{2}\d{3}\d{2}\d{2}$/)
    const onlyLetters = helpers.regex('onlyLetters', /^[a-zA-Zа-яА-ЯёЁ]*$/)
    const debug = require('debug')('app:demo')

    export default{
        data(){
            return{
                actual_title: null,
                actual_placeholder1: null,
                error_text1: null,
                actual_placeholder2: null,
                actual_placeholder3: null,
                isSent: false,
                sendbutton_title: null,
                name: "",
                phone_num: "",
                question: "",	
                submitStatus: null,
                sendbutton_title: null,
                sendingStatus: "",
                error_text1: null,
                error_text2: null,
                error_text3: null,
                error_text4: null,
                error_text5: null,
                error_text6: null,
                error_text7: null,
                success_text: null,
                texts: [
                    {
                        "title": "Задайте питання продавцю",
                        "sendbutton_title": "Відправити",
                        "placeholder1": "Ваше ім'я",
                        "placeholder2": "Номер телефону",
                        "placeholder3": "Ваше питання",
                        "error_text1": "Вкажіть ім'я",
                        "error_text2": "Надто коротке ім'я",
                        "error_text3": "Ім'я може містити тільки літери",
                        "error_text4": "Вкажіть номер телефону",
                        "error_text5": "Помилковий формат номера",
                        "error_text6": "Вкажіть Ваше питання",
                        "error_text7": "Щось пішлол не так. Ваше повідомлення не відправлено.",
                        "success_text": "Ваше повідомлення успішно відправлено!",
                        "lang": "ua",
                    },
                    {
                        "title": "Задайте вопрос продавцу",
                        "sendbutton_title": "Отправить",
                        "placeholder1": "Ваше имя",
                        "placeholder2": "Номер телефона",
                        "placeholder3": "Ваш вопрос",
                        "error_text1": "Укажите имя",
                        "error_text2": "Имя слишком короткое",
                        "error_text3": "Имя может содержать только буквы",
                        "error_text4": "Укажите номер телефона",
                        "error_text5": "Неправильный формат номера",
                        "error_text6": "Укажите Ваш вопрос",
                        "error_text7": "Что-то пошло не так. Ваше сообщение не было отправлено.",
                        "success_text": "Выше сообщение успешно отправлено!",
                        "lang": "ru",
                    },
                ],
            }
        },
        props: {
            'csrftoken': String,
        },
        mounted() {
            for (let i = 0; i < this.texts.length; i++) {
                if (this.texts[i].lang == this.getCurrentLanguage) {
                    this.actual_title = this.texts[i].title;
                    this.actual_placeholder1 = this.texts[i].placeholder1;
                    this.actual_placeholder2 = this.texts[i].placeholder2;
                    this.actual_placeholder3 = this.texts[i].placeholder3;
                    this.sendbutton_title = this.texts[i].sendbutton_title;
                    this.success_text = this.texts[i].success_text,
                    this.error_text1 = this.texts[i].error_text1;
                    this.error_text2 = this.texts[i].error_text2;
                    this.error_text3 = this.texts[i].error_text3;
                    this.error_text4 = this.texts[i].error_text4;
                    this.error_text5 = this.texts[i].error_text5;
                    this.error_text6 = this.texts[i].error_text6;
                    this.error_text7 = this.texts[i].error_text7;
                }
            }
        },
        computed: {
            getCurrentLanguage() {
                return this.$store.getters.getCurrentLanguage;
            },         
        },
        watch: {
            getCurrentLanguage(value, oldvalue) {
                for (let i = 0; i < this.texts.length; i++) {
                    if (this.texts[i].lang == value) {
                        this.actual_title = this.texts[i].title;
                        this.actual_placeholder1 = this.texts[i].placeholder1;
                        this.actual_placeholder2 = this.texts[i].placeholder2;
                        this.actual_placeholder3 = this.texts[i].placeholder3;
                        this.sendbutton_title = this.texts[i].sendbutton_title;
                        this.success_text = this.texts[i].success_text,
                        this.error_text1 = this.texts[i].error_text1;
                        this.error_text2 = this.texts[i].error_text2;
                        this.error_text3 = this.texts[i].error_text3;
                        this.error_text4 = this.texts[i].error_text4;
                        this.error_text5 = this.texts[i].error_text5;
                        this.error_text6 = this.texts[i].error_text6;
                        this.error_text7 = this.texts[i].error_text7;
                        break;
                    }
                }
            }
        },
//        async mounted() {
//            await this.$recaptcha.init()
//        },
        methods:{
            onError (error) {
                console.log(error);
            },
            onExpired () {
                console.log('Expired')
            },
            async onSubmit() {
                this.$v.$touch()
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                } else {
//                    try {
//                        const token = await this.$recaptcha.execute('send_feedback')
//                    } catch (error) {
//                        console.log('error:', error)
//                    }
                    await axios.post('https://test2.iti.dp.ua/api/communicate/', { 'phone': this.phone_num, 'name': this.name, 'question': this.question }, { headers: { 'X-CSRFTOKEN': 'csrftoken='+this.csrftoken+';' }})
                    .then((response) => {
                        this.isSent=true;
                        this.sendingStatus='SUCCEED';
                    })
	            .catch(error => {
                        this.isSent =true;
                        this.sendingStatus = 'FAILED';
                    })
                }
            },
        },
        validations: {
            name: {
                required,
                minLength: minLength(2),
                onlyLetters,			
            },
            phone_num: {
                required
            },
            question: {
                required
            }
        }
    }
</script>

<style lang="less" scoped>
@import '~assets/styles/index.less';
input,textarea{
	width: 100%;
}
textarea{
	height: 150px;
}
.button{
	margin-left: auto;
	margin-right: 0;
	margin-top: 20px;
}
.block{
	min-height: unset;
}

.tick {
    background: url("~assets/images/success.png") no-repeat center;
}

.red-cross {
    background: url("~assets/images/red-cross.png") no-repeat center;
}

.icon {
    width: 80px;
    height: 80px;
    background-size: contain;
}

.tick-border {
    border: 1px solid #6BAE3C !important;
    background: rgba(0, 255, 0, 0.03);
}

.red-cross-border {
    border: 1px solid #D85D5D !important;
    background: rgba(255, 0, 0, 0.02);
}

.border {
    padding: 35px;
    width: fit-content;
    border-radius: 50%;
    margin: 40px auto auto;
}

.contact-us-block {
    height: 283px;
}

.text {
    color: white;
    text-align: center;
    margin-top: 35px;
}

</style>
