<template>
	<footer class="dark-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="logo-container">
						<router-link to="/" class="logo">				
						</router-link>
					</div>
					
					<div class="text" v-html="actual_label"></div>
				</div>
			</div>	
		</div>		
	</footer>
</template>

<script>
    export default{
        data() {
            return {
                actual_label: null,
                title: [
                    {
                        "label": 'Компанія ТОВ "СТРОЙ ФАКТОР", 2021',
                        "lang": "ua",
                    },
                    {
                        "label": 'Компания ООО “СТРОЙ ФАКТОР”, 2021',
                        "lang": "ru",
                    },
                ],
           }
        },
        mounted() {
            //debug(this.getCurrentLanguage);
            for (let i = 0; i < this.title.length; i++) {
                if (this.title[i].lang == this.getCurrentLanguage) {
                    //debug("===   "+this.title[i].text);
                    this.actual_label = this.title[i].label;
                }
            }
        },
        computed: {
            getCurrentLanguage() {
                return this.$store.getters.getCurrentLanguage;
            },
        },
        watch: {
            getCurrentLanguage(value, oldvalue) {
                for (let i = 0; i < this.title.length; i++) {
                    if (this.title[i].lang == value) {
                        this.actual_label = this.title[i].label;
                        break;
                    }
                }
            }
        },
    }
</script>

<style lang="less" scoped>
@import '~assets/styles/index.less';
.logo{
	background: url("~assets/images/logo.png") no-repeat;
	background-size: contain;
	background-position: center;
	width: 110px;
	height: 73px;
	float: left;
	display: inline-block;
	cursor: pointer;
}
footer{
	padding: 20px;
}
.text{
	color: @light_text;	
	margin-left: 30px;
	display: inline-block;
	line-height: 73px;
}
@media(max-width: 767px){
	footer{
		text-align:center;
	}
	.logo{
		text-align:center;
		float: none;		
		width: 90px;
		height: 50px;
		margin-bottom: 30px;
	}
	.text{
		margin-left: 0px;
		line-height: 35px;
	}
}
</style>
