<template>
    <div class="dark-bg" id='header'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <div class="logo-container"><nuxt-link to="/" class="logo"></nuxt-link></div>
                        <nav>
                            <transition name = "fade" mode="out-in">
                                <div class="menu" v-if="!show" @click="show = !show" key="menu"></div>
                                <div class="clear" v-else @click="show = !show" key="clear"></div>
                            </transition>
                            <transition name="fade">
                                <ul v-if="show">
                                    <li>
                                        <nuxt-link to="/">{{ label1 }}</nuxt-link>
                                    </li>
                                    <li>
                                        <transition name="bounce"><a href="/#about_us">{{ label2 }}</a></transition>
                                    </li>
                                    <li>
                                        <div class="dropdown">
                                            <a href="/#showcase" class="drop-btn">{{ label3 }}</a>
                                            <div class="dropdown-content">
                                                <nuxt-link :to="`/items_list/${item.alias}`" v-for="item in allCategories" v-bind:key="item.alias">{{ item.name }}</nuxt-link>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/#contacts">{{ label4 }}</a>
                                    </li>
                                    <li>
                                        <nuxt-link to="/cart" class="cart icon">
                                        	<span class="login-text">{{ label5 }}</span>
                                        	<span class='products_counter'>
                                        		<span>
	                                        		{{ getProductsCount }}
		                                        </span>
	                                        </span>
	                                        <CartTip :text="label6"></CartTip>
	                                    </nuxt-link>
                                    </li>
                                    <li><LanguageDropDown/></li>
                                </ul>
                            </transition>									
                        </nav>
                    </header>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CartTip from "@/components/CartTip.vue";
    import LanguageDropDown from "@/components/LanguageDropDown.vue";

    const debug =require('debug')('app:demo')
    export default{
        data(){
            return{
                show: true,
                is_logged_in: true,
                loaded: false,
                label1: null,
                label2: null,
                label3: null,
                label4: null,
                label5: null,
                label6: null,
                labels: [
                    {
                        "label1": "Головна",
                        "label2": "Про нас",
                        "label3": "Товари та послуги",
                        "label4": "Контакти",
                        "label5": "Кошик",
                        "label6": "Товар доданий у кошик",
                    },
                    {
                        "label1": "Главная",
                        "label2": "О нас",
                        "label3": "Товары и услуги",
                        "label4": "Контакты",
                        "label5": "Корзина",
                        "label6": "Товар добавлен в козину",
                    },
                ],
            }
        },
        components:{
            CartTip,
            LanguageDropDown
        },
        beforeMount() {
            window.addEventListener("resize", this.onResize);
        },
        destroyed() {
            window.removeEventListener("resize", this.onResize);
        },
        methods:{
            onResize(){
                if(document.documentElement.clientWidth <= 992) {
                    this.show = false;
                } else {
                    this.show = true;
                }
            },
            onScroll(val){
                if (val > 30){
                    document.getElementById('header').classList.add('header-fixed')
                } else if (val < 30) {
                    document.getElementById('header').classList.remove('header-fixed')
                }
            }
        },
        computed: {
            getCurrentSortType() {
                return this.$store.getters.getSortType;
            },
            allCategories() {
                let cats = this.$store.getters.allCategories;
                if (cats.length>0) this.loaded=true;
                return cats;
            },
            getProductsCount() {
                return this.$store.getters.getProductsCount;
            },
            getSumProductsCount() {
                return this.$store.getters.getSumProductsCount;
            },
            scrollPosition(){
                return this.$store.getters.scrollPosition;
            },
        },
        watch: {
            getCurrentLanguage(value, oldvalue) {
                for (let i = 0; i < this.labels.length; i++) {
                    if (this.labels[i].lang == value) {
                        this.label1 = this.labels[i].label1;
                        this.label2 = this.labels[i].label2;
                        this.label3 = this.labels[i].label3;
                        this.label4 = this.labels[i].label4;
                        this.label5 = this.labels[i].label5;
                        this.label6 = this.labels[i].label6;
                        break;
                    }
                }
            },
            scrollPosition(val, oldval){
                this.onScroll(val);
            },
        },
        mounted(){
            this.onResize();
            for (let i = 0; i < this.labels.length; i++) {
                if (this.labels[i].lang == this.getCurrentLanguage) {
                    this.label1 = this.labels[i].label1;
                    this.label2 = this.labels[i].label2;
                    this.label3 = this.labels[i].label3;
                    this.label4 = this.labels[i].label4;
                    this.label5 = this.labels[i].label5;
                    this.label6 = this.labels[i].label6;
                    break;
                }
            }
        },
        updated(){
            this.onScroll(window.scrollY);
        }
    }
</script>

<style lang="less" scoped>
@import '~assets/styles/index.less';
.logo{
	background: url("~assets/images/logo.png") no-repeat;
	background-size: contain;
	width: 110px;
	height: 73px;
	float: left;
	display: inline-block;
	cursor: pointer;
}
.login-text{
		display: none;
	}
ul{
	padding: 0;
	margin: 0;
	float: right;	
}
li {
	margin-left: 20px;
	display: inline;
  list-style-type: none;
  color: @light_text;
  font-family: Montserrat;
  font-weight: 500;
  cursor: pointer;
}
a{
	color: @light_text;
	transition: 0.4s;
}
a:hover{
	text-decoration: none;
	color: @main_color;
	transition: 0.4s;
}
header{
	margin-top: 20px;
	margin-bottom: 20px;
	height: 73px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-fixed{
	position:fixed;
	width:100%;
	z-index:100;
	//transition: top 1s linear;
	header{
		height:40px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.logo{
		height:40px;
	}
}
.icon{
	display: inline-block;
	width: 36px;
	height: 36px;
	vertical-align: middle;
	transition: 0.4s;	
}
.cart{	
	background: url("~assets/images/cart-icon.png") no-repeat;	
	position:relative;	
}
.cart:hover{
	transition: 0.4s;	
	background: url("~assets/images/cart-icon-hover.png") no-repeat;	
}
.drop-btn { 
  padding: 15px 0;
  transition: 0.4s;	
}
.dropdown {  
	position: relative;
  display: inline-block;
  z-index: 99;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 10px;
  background-color: @light_text;
  width: 320px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
  transition: 0.4s;	
}
.dropdown-content:before {
  content: "";
	display: block;
	width: 20px;
	height: 20px;
	margin-top: -20px;
	margin-left: 20px;
  border: 10px solid transparent; 
  border-bottom: 10px solid @light_text; 
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.4s;	
}
.dropdown-content a:hover {
	transition: 0.4s;	
	color: @main_color;
}
.dropdown:hover .dropdown-content {
	transition: 0.4s;	
	display: block;
}
.dropdown:hover .drop-btn {
	transition: 0.4s;	
	color: @main_color;
}
.menu, .clear{
	display: none;
	color: @light_text;
}
.products_counter{
	display: flex;
	background-color: #e57c00;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	margin-right: -10px;
	margin-top: -10px;
	margin-left: auto;
	span{
		margin: auto;
		font-size: 12px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		width: 100%;
		color:white !important;
	}
}

@media(max-width: 992px){
.products_counter{	
	margin-right: 0;
	margin-top: -24px;
	margin-bottom: auto;
	margin-left: auto;	
}
.dropdown:hover .dropdown-content {
	display: none;
}
.menu, .clear{
	display: block;
	float: right;
	background: url("~assets/images/menu-icon.png") no-repeat;
	background-size: contain;
	background-position: center;
	width: 36px;
	height: 50px;	
}
.menu:hover, .clear:hover{
	background: url("~assets/images/menu-icon-hover.png") no-repeat;
	background-size: contain;
	background-position: center;
}
.icon, .icon:hover{
	background: none;
	height: auto;
	width: 100%;
}
.login-text{
	display: block;
	text-align: center;
	width: 100%;
}
header{
	display: block;
	height: auto;
}
.logo{		
	width: 90px;
	height: 50px;
	margin-bottom: 20px;	
}
.logo-container{
	width: 100%;	
}
ul{
	width: 100%;
}
li{
	display: block;
	padding: 20px;
	text-align: center;
	margin-left: 0;
}
}
</style>
