<template>
    <div class="drop-down-container" v-click-outside="outsideClick">
        <div class="drop-down-button" @click="switch_drop_down()">
            <div class="title">{{picked_lang.name}}</div>
            <img :src="require(`@/assets/images/${picked_lang.flag}`)" class="flag">
        </div>
        <div v-if="opened" class="drop-down">
            <ul>
                <li v-for="lang in languages" :key="lang.name"  @click="pick_language(lang)" :class="{picked:lang.is_active}">	
                    <img :src="require(`@/assets/images/${lang.flag}`)" class="flag">
                    <div class="title">{{lang.name.toUpperCase()}}</div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    const debug = require('debug')('app:demo');
    export default {
        data(){
            return{
                picked_lang: null,
                opened: false,
                languages:[
                    {
                        name: 'UA',
                        flag: 'ua.png'
                    },
                    {
                        name: 'RU',
                        flag: 'ru.png'
                    },
                ]
            }
        },
        methods:{
            pick_language(lang){
                this.picked_lang.is_active = false;
                this.picked_lang = lang;
                this.picked_lang.is_active = true;
                this.switch_drop_down();
                this.$store.commit("setCurrentLanguage", lang.name.toLowerCase());
            },
            switch_drop_down(){
                this.opened = !this.opened
            },
            outsideClick() {
                if (this.opened)
                    this.opened = false
            }
        },
        computed: {
            getCurrentLanguage() {
                return this.$store.getters.getCurrentLanguage;
            },
            getDefaultLanguage() {
                return this.$store.getters.getDefaultLanguage;
            },
        },
        fetch(){
            if (this.getCurrentLanguage == null) {
               this.$store.commit("setCurrentLanguage", this.getDefaultLanguage);
            }
            for (var i = 0; i < this.languages.length; i++) {
                if (this.languages[i].name.toLowerCase() == this.getCurrentLanguage) {
                    this.picked_lang = this.languages[i];
                    this.picked_lang.is_active = true;
                } else {
                    this.languages[i].is_active = false;
                }
            }
        },
    }
	
</script>

<style lang="less" scoped>
@import '../assets/styles/index.less';
.drop-down-container{
	display: inline-block;
	margin-left: 30px;
}
.drop-down-button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 76px;

	.title{
		margin-right: 15px;
	}
}

.flag{
	width: 32px;
	object-fit: contain;	
}

.drop-down:before {
	position: absolute;
	top:20px;
	right: 30px;
    content: "";
	width: 20px;
	height: 20px;
	margin-top: -40px;
	margin-left: 60px;
    border: 10px solid transparent; 
    border-bottom: 10px solid @light_text; 
}

.drop-down{
	position: absolute;
	right: 17px;
	top: 50px;
	padding: 20px 30px;
	background: white;
	color: @dark-bg;
	margin-top: 30px;
	ul{
		padding: 0;
	}
	li{
		display: flex;
		padding: 4px;
		opacity: 0.5;		
		.flag{
			margin-right: 20px;
		}
	}
}

.picked{
	opacity: 1 !important;
}

</style>
