<template>
    <div>
        <Header/>
        <section class="block medium-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="message-box">
                            <h2 class="text-center">{{ label1 }}</h2>
                            <div class="image">
                        </div>
                        <p class="text-center mb-4">{{ label2 }}</p>
                        <router-link to="/" class="button solid-button">На главную</router-link>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <Footer/>
    </div>
</template>

<script>
    import Header from "~components/Header.vue"
    import Footer from "~components/Footer.vue"
    export default{
        components: {	
            Header,				
            Footer,
        },
        data(){
            return{
                label1: null,
                label2: null,
                labels: [
                    {
                        "label1": "Замовлення успішно відправлено!",
                        "label2": "Ваше замовлення було успішно відправлено. Представник нашой компаніїї ближчим часом зв'яжеться з Вами.",
                        "lang": "ua",
                    },
                    {
                        "label1": "Заказ успешно отправлен!",
                        "label2": "Ваш заказ был успешно отправлен. Представитель компании свяжется с Вами в ближайшее время.",
                        "lang": "ru",
                    },
                ],
            }
        },
        mounted: function(){
            for (let i = 0; i < this.labels.length; i++) {
                if (this.labels[i].lang == this.getCurrentLanguage) {
                    this.label1 = this.labels[i].label1;
                    this.label2 = this.labels[i].label2;
                    break;
                }
            }
        },
        computed: {
            getCurrentLanguage() {
                return (this.$store.getters.getCurrentLanguage != null)?this.$store.getters.getCurrentLanguage:this.$store.getters.getDefaultLanguage;
            },
        },
        watch: {
            getCurrentLanguage(value, oldvalue) {
                for (let i = 0; i < this.labels.length; i++) {
                    if (this.labels[i].lang == value) {
                        this.label1 = this.labels[i].label1;
                        this.label2 = this.labels[i].label2;
                        break;
                    }
                }
            }
        },

    }
</script>

<style lang="less" scoped>
@import '~assets/styles/index.less';
.message-box{
	background-color: white;
	padding: 40px;
	width: 65%;
	margin: 0 auto;
	padding-bottom: 70px;
}
.button{	
	margin: 0 auto;
}
.image{
	background: url('~assets/images/tick.png') no-repeat;
	background-size: contain;
	width: 150px;
	height: 150px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
}
@media(max-width: 768px){
	.message-box{		
		width: 100%;		
	}
	.image{
		width: 120px;
		height: 120px;
	}
}
	
</style>
