﻿<template>
    <section v-if="images && images.length>0" id="photo-gallery" class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-uppercase text-center" v-html="actual_title"></h2>
                </div>
                <div class="col-lg-9 col-sm-7 mb-5">
                    <div class="slide-to-show" id="slide-to-show">
                        <transition name="fade">
                            <img :src="currentImage.image" v-if="currentImage" :key="currentImage.uuid"  v-show="currentImage" class="slide-to-show" id="slide-to-show" alt="" />
                        </transition>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-5 mb-5">
                    <div id="projects-slider">
                        <div class="wrapper">
                            <div class="slides" id="projects-slides">
                                <template v-for="img in images">
                                    <img v-bind:key="img.uuid" :src="img.image" @click="setCurrent(img)" class="projects-slide" :class="{current :img.is_current}" alt="" />
                                </template>
                            </div>
                        </div>
                        <div class="control-container">
                            <button id="prev" class="prev control" @click="shiftSlide(-1)" :disabled="images[0].is_current"> Назад </button>
                            <button id="next" class="next control" @click="shiftSlide(1)" :disabled="images[images.length - 1].is_current"> Вперед </button>
                        </div>
                    </div>						
                </div>
            </div>
        </div>			
    </section>	
</template>

<script>	
    const debug = require('debug')('app:demo')
    export default{
       data(){
            return {
                actual_title: null,
                items:[],
                posInitial: null,				
                slides:[],
                slidesLength: null,
                slideSize: null,				
                index: 0,
                allowShift: true,
                title: [
                    {
                        "text": "Наші проекти",
                        "lang": "ua",
                    },
                    {
                        "text": "Наши проекты",
                        "lang": "ru",
                    },
                ],
            }
        },
        methods:{			
            shiftSlide(dir) {
                this.items.classList.add('shifting');					
                if (this.allowShift) {
                    this.posInitial = this.items.offsetTop; 
                    for (var i = 0; i < this.images.length; i++) {
                        if(this.images[i].uuid === this.currentImage.uuid){
                            if (dir === 1) {
                                if(i !== (this.images.length - 1)){
                                    this.setCurrent(this.images[i + 1]);
                                    break;
                                }
                            } else if (dir === -1) {
                                if(i !== 0){
                                    this.setCurrent(this.images[i - 1]);
                                    break;
                                }
                            }
                        }
                    }
                    if (dir === 1) {
                        if (this.index !== this.slidesLength - 2){
                            this.items.style.top = (this.posInitial - this.slideSize) + "px";
                            this.index++;
                        }
                    } else if (dir === -1) {
                        if (this.index !== 0) {
                            this.items.style.top = (this.posInitial + this.slideSize) + "px";
                            this.index--;
                        }
                    }
                }
                this.allowShift = false;
            },
            checkShifting (){
                this.items.classList.remove('shifting');							
                this.allowShift = true;
            },
            slide(){
                this.slides = this.items.getElementsByClassName('projects-slide');				
                this.slidesLength = this.slides.length;
                this.slideSize = this.items.getElementsByClassName('projects-slide')[0].offsetHeight + 30;				
                this.items.addEventListener('transitionend', this.checkShifting);
            },
            setCurrent(img){
                this.$store.dispatch('setCurrent', img);
            },
        },
        mounted(){
            this.$store.dispatch('getProjects')
                .then(()=>{
                    this.items = document.getElementById('projects-slides');				
                    this.slide();
            })

            //debug(this.getCurrentLanguage);
            for (let i = 0; i < this.title.length; i++) {
                if (this.title[i].lang == this.getCurrentLanguage) {
                    //debug("===   "+this.title[i].text);
                    this.actual_title = this.title[i].text;
                }
            }
        },
        computed: {
            images() {
                //debug("========")
                //debug(this.$store.getters.allProjects)
                return this.$store.getters.allProjects;
            },  
            currentImage(){
                return this.$store.getters.currentImage;
            },
            getCurrentLanguage() {
                return this.$store.getters.getCurrentLanguage;
            },         
        },
        watch: {
            getCurrentLanguage(value, oldvalue) {
                for (let i = 0; i < this.title.length; i++) {
                    if (this.title[i].lang == value) {
                        this.actual_title = this.title[i].text;
                        break;
                    }
                }
            }
        }
    }	
</script>

<style lang="less" scoped>
	@import '../assets/styles/index.less';

	.wrapper{
		overflow: hidden;
		position: relative;
		height: 400px;
	}
	.slides{
		display: flex;
		flex-direction: column;
		position: relative;
		left: 0;
		top: 0px;
		height:  10000px;		

	}
	.projects-slide{
		height: 170px;
		margin-bottom: 30px;
		width: 100%;
		background-color: @medium-bg;
		transition: 2s;
		position: relative;
		justify-content: center;
		cursor:pointer;
		object-fit: cover;
	}
	.control-container{
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
	}
	.control{
		padding: 15px;
		width: 110px;
		text-align: center;
		color: @light_text;
		font-weight: bold;
		background-color: @main_color;
		transition: 0.4s;
		cursor:pointer; 
		border: none;
	}
	.control:disabled, .control:disabled:hover{
		background-color: grey;
	}	
	.control:hover{
		background-color: @hover_main_color;
		transition: 0.4s;
	}
	.slides.shifting {
		transition: top .4s;
	}
	.slide-to-show{
		object-fit: cover;
		width: 100%;
		height: 497px;
		overflow: hidden;
	}
	.current{
		padding: 7px;
		transition: 1s;
	}
	@media(max-width: 575px){
		.wrapper{
			visibility: hidden;
			height: 0;
		}
		.control-container{			
			margin-top: 0px;
		}
	}

	//animation
	.fade-enter-active, .fade-leave-active {
		transition: opacity .5s;
	}
	.fade-enter, .fade-leave-to {
		transition: opacity .2s;	
	}
</style>
