<template>
    <div v-if="allCategories && allCategories.length>0" class="block medium-bg" id="showcase">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-uppercase text-center" v-html="actual_title"></h2>
                </div>
            </div>
            <div class="row">	
                <div class="col-lg-3 col-md-4 col-sm-6 item-container text-left" v-for="item in allCategories" v-bind:key="item.alias">
                    <nuxt-link :to="`/items_list/${item.alias}`" class="item-card">
                        <h3>{{ item.name }}</h3>
                        <img class="item-img" :src="item.image" alt="">
                        <div class="info" v-html="actual_label1+item.items_count"></div>
<!-- <div class="info">Под заказ, 7 дней</div><div class="price">от 186 грн/кв.м.</div><div class="solid-button small-button" @click.prevent="showAddedToCartModal">Купить</div><div class="small-button brdr-btn-main-color" @click.prevent="showModalCallMeBack">Перезвоните мне</div> -->
                    </nuxt-link>
                </div>
            </div>	
<!-- <div class="row"><div class="col-md-12"><router-link to="/categories_list" class="button brdr-btn-dark-color btn-pos">Все товары и услуги</router-link></div></div>-->				
        </div>
    </div>
</template>

<script>
    const debug = require('debug')('app:demo')
    export default{
        data() {
            return {
                loaded: false,
                actual_title: null,
                actual_label1: null,
                title: [
                    {
                        "text": "Наші товари",
                        "label1": "Кіл-сть товарів: ",
                        "lang": "ua",
                    },
                    {
                        "text": "Наши товары",
                        "label1": "Кол-во товаров: ",
                        "lang": "ru",
                    },
                ],

            }
        },
        mounted() {
            for (let i = 0; i < this.title.length; i++) {
                if (this.title[i].lang == this.getCurrentLanguage) {
                    this.actual_title = this.title[i].text;
                    this.actual_label1 = this.title[i].label1;
                }
            }
        },
       methods:{
            showAddedToCartModal() {
                this.$root.$emit('modal-atc-on', true);		        	
            },
            showModalCallMeBack() {    			
                this.$root.$emit('modal-cmb-on', true);		        	
            },
        },
        computed: {
            allCategories() {
               let cats = this.$store.getters.allCategories(this.getCurrentLanguage);
                if (cats.length>0) this.loaded=true;
                return cats;
            },
            getCurrentLanguage() {
                return this.$store.getters.getCurrentLanguage;
            },
        },

        watch: {
            getCurrentLanguage(value, oldvalue) {
                for (let i = 0; i < this.title.length; i++) {
                    if (this.title[i].lang == value) {
                        this.actual_title = this.title[i].text;
                        this.actual_label1 = this.title[i].label1;
                        break;
                    }
                }
            }
        }
    }
</script>

<style lang="less" scoped>
@import '~assets/styles/index.less';
h3{
    height: 55px;
}
.item-card {
    height: 400px !important;
}
@media(max-width: 576px){
    .item-card{
    }
}
.btn-pos{
	margin: 60px auto 0 auto;
}
.small-button{
	margin-top: 15px;
}
</style>
