<template>
	<div>
		<Header class="solid-header"/>	
		<div class="slider-block">
			<div class="solid-field">				
			</div>
			<div class="slider ">
				<div class="slide showing">
				</div>
				<div class="slide">
				</div>
				<div class="slide">	
				</div>
				<div class="blackout">
				</div>				
			</div>			
			<div class="container front">
				<div class="row">
					<div class="col-md-12">						
						<header class="transparent-header">
							<nuxt-link to="/" class="logo">	</nuxt-link>
							<nav>
								
									<ul>
										<li>
											<nuxt-link to="/">{{ actual_text1 }}</nuxt-link>
										</li>
										<li> 
											<transition name="bounce"><a href="/#about_us">{{ actual_text2 }}</a></transition>
										</li>
										<li>									
											<div class="dropdown">
												<a href="/#showcase" class="drop-btn" v-html="actual_text3"></a>
												<div class="dropdown-content">
													<nuxt-link :to="`/items_list/${item.alias}`" v-for="item in allCategories" v-bind:key="item.alias">
														{{ item.name }}	
													</nuxt-link>								
												</div>
											</div>
										</li>
										<!--<li>
											 <nuxt-link to="/testimonials">Отзывы</nuxt-link> 
										</li>-->
										<li>
											<a href="/#contacts">{{ actual_text4 }}</a>
										</li>
										<li>
	                                        <nuxt-link to="/cart" class="cart icon"><span class="login-text">Корзина</span><span class='products_counter'><span>{{ getProductsCount }}</span></span></nuxt-link>
	                                    </li>
	                                     <li><LanguageDropDown/></li>
										<!-- <li>											
											<nuxt-link to="/cart" class="cart icon"><span class="login-text">Корзина</span></nuxt-link> 
										</li>		-->							
									</ul>
																	
							</nav>							
						</header>
					</div>
				</div>			
			</div>		
			<div class="content">
				<div class="container content-block">
					<div class="row">
						<div class="col-md-12">
							<SliderHeader :html="slogan" />							
						</div>
					</div>	
					<div class="row">
					<div class="col-md-12">
						<div class="slider-nav">	
							<div class="arr left" id="previous" v-on:click="clickPrev">						
							</div>	
							<div class="arr right" id="next" v-on:click="clickNext">						
							</div>													
						</div>	
					</div>					
				</div>							
				</div>				
			</div>	
			<div class="container">
				
			</div>				
		</div>
		<div class="line">
		</div>	
	</div>
	
</template>

<script>
    import Header from "../components/Header.vue"
    import SliderHeader from "../components/SliderHeader.vue"
    import LanguageDropDown from "@/components/LanguageDropDown.vue";
    const debug = require('debug')('app:demo')
    export default {
        props: {
            slogan: String,
            abouttext1: String,
            abouttext2: String,
            abouttext3: String
        },
        data() {
            return {
                actual_text1: null,
                actual_text2: null,
                actual_text3: null,
                actual_text4: null,
                caption: '<h1>Stroyfaktor</h1>',
                slides: [],
                currentSlide: 0,
                playing: true,
                slideInterval: {},
                show: false,
                is_logged_in: true,
                loaded: false,
                menus: [
                    {
                        "text1": "Головна",
                        "text2": "Про нас",
                        "text3": "Товари та послуги",
                        "text4": "Контакти",
                        "lang": "ua",
                    },
                    {
                        "text1": "Главная",
                        "text2": "О нас",
                        "text3": "Товары и услуги",
                        "text4": "Контакты",
                        "lang": "ru",
                    },
                ],
            }
        },
        components:{
            Header,
            SliderHeader,
            LanguageDropDown
        },
        methods: {
            clickNext: function() {
                this.pauseSlideshow();				
                this.nextSlide();
                this.playSlideshow();                
            },
            clickPrev: function(){
                this.pauseSlideshow();				
                this.previousSlide();
                this.playSlideshow();                
            },
            nextSlide: function(){				
                this.goToSlide(this.currentSlide+1);
            },
            previousSlide: function(){				
                this.goToSlide(this.currentSlide-1);
            },
            goToSlide: function(n){
                this.slides[this.currentSlide].className = 'slide';
                this.currentSlide = (n+this.slides.length)%this.slides.length;
                this.slides[this.currentSlide].className = 'slide showing';
            },
            pauseSlideshow: function() {
                this.playing = false;
                clearInterval(this.slideInterval);
            },
            playSlideshow: function() {
                this.playing = true;
                this.slideInterval = setInterval(this.nextSlide,3000);
            }
        },
        computed: {
            site_caption() {
                let result;
                if (this.slogan) {
                    result=this.slogan;
                } else {
                    result='<h4>Вас приветствует</h4><h1>Строй фактор</h1>';
                }
                //debug(result)
                return result;
            },
//                    getSlogan() {
//                        let page = this.$store.getters.getPage(this.page_identifier,this.page_type)[0];
//                        return page.blocks.filter(block => block.block_identifier==this.slogan_identifier)[0];
//                    }
//        },
//        computed: {
            allCategories() {
                let cats = this.$store.getters.allCategories(this.getCurrentLanguage);
                if (cats.length>0) this.loaded=true;
                return cats;
            },
            getProductsCount() {
                return this.$store.getters.getProductsCount;
            },
            getCurrentLanguage() {
                return this.$store.getters.getCurrentLanguage; 
            },
        },
        mounted(){
            this.slides = document.querySelectorAll('.slide');
            this.slideInterval = setInterval(this.nextSlide,3000);

            for (let i = 0; i < this.menus.length; i++) {
                if (this.menus[i].lang == this.getCurrentLanguage) {
                    this.actual_text1 = this.menus[i].text1;
                    this.actual_text2 = this.menus[i].text2;
                    this.actual_text3 = this.menus[i].text3;
                    this.actual_text3 = this.menus[i].text4;
                }
            }
        },
        watch: {
            getCurrentLanguage(value, oldvalue) {
                for (let i = 0; i < this.menus.length; i++) {
                    if (this.menus[i].lang == value) {
                        this.actual_text1 = this.menus[i].text1;
                        this.actual_text2 = this.menus[i].text2;
                        this.actual_text3 = this.menus[i].text3;
                        this.actual_text4 = this.menus[i].text4;
                        break;
                    }
                }
            }
        },
    }
</script>

<style lang="less" scoped>
@import '~assets/styles/index.less';
.menu, .clear{
	display: none;
	color: @light_text;
}
.text-block{
    color: white;
}
.slider-block{
	position: relative;
	height: 900px;
}
header{
	margin-top: 20px;
	height: 73px;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}
.front{
	z-index: 9999 !important;
}
.logo{
	background: url("~assets/images/logo.png");
	width: 110px;
	height: 73px;
	float: left;
	cursor: pointer;
}
ul{
	padding: 0;
	margin: 0;
	float: right;	
}
li {
	margin-left: 20px;
	display: inline;
  list-style-type: none;
  color: @light_text;
  font-family: Montserrat;
  font-weight: 500;
  cursor: pointer;
}
.container{
	position: relative;
	z-index: 20;
}
.content{
	height:100%;
}
.content-block{
	height:calc(100% - 153px);
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.icon{
	display: inline-block;
	width: 36px;
	height: 36px;
	vertical-align: middle;
	transition: 0.4s;
}
.cart{	
	background: url("~assets/images/cart-icon.png") no-repeat;		
}
.cart:hover{
	transition: 0.4s;	
	background: url("~assets/images/cart-icon-hover.png") no-repeat;	
}
.login-text{
		display: none;
	}
.solid-field{
	width: 40%;
	height: 900px;
	background-color: @dark-bg;
	position: absolute;
	top: 0;
	left: 0;
}
.slider{
	width: 60%;
	height: 900px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;	
}
.slide{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 2s;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}
.showing{
	opacity: 1;
	z-index: 2;
}
.blackout{
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}
.slide:nth-of-type(1){
	background: url(~assets/images/slide1.jpg) no-repeat;
	background-size: cover;	
	background-color: rgba(0,0,0, 30%);
}
.slide:nth-of-type(2){
	background: url(~assets/images/slide2.jpg) no-repeat;
	background-size: cover;
}
.slide:nth-of-type(3){
	background: url(~assets/images/slide3.jpg) no-repeat;
	background-size: cover;
}
h4{
	margin-top: 150px;
	text-align: left;
	color: @light_text;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 10px;
}
h1{
	font-weight: bold;
	color: @light_text;
	text-align: left;
	font-size: 72px;
	line-height: 88px;
	margin-bottom: 32px;
}
p{
	width: 50%;
	margin:0;
	padding: 0;
	color: @light_text;
	font-size: 18px;
	line-height: 33px;
	text-align: left;
	margin-bottom: 80px;
}
.line{
	background-color: @dark-bg;
	height: 50px;
	width: 100%;
}
a{
	color: @light_text;
	transition: 0.4s;
}
a:hover{
	text-decoration: none;
	color: @main_color;
	transition: 0.4s;
}
.slider-nav{	
	//margin-bottom:150px;
	//margin-top: auto;
	height:max-content;
	//position: absolute;
	//bottom:100px;
	text-align: right;	
}
.arr{	
	display: inline-block;
	height: 60px;
	width: 90px;
	border: 1px solid @light_text;
	margin-left: 10px;
	background: url("~assets/images/arr.png") no-repeat;
	background-position: center;
	transition: 0.4s;
}
.arr:hover{
	transition: 0.4s;
	background-color: rgba(255,255,255, 0.1);
}
.left{
	
}
.right{	
	transform: rotate(180deg);	
}
.drop-btn { 
  padding: 15px 0;
  transition: 0.4s;	
}
.dropdown {  
	position: relative;
  display: inline-block;
  z-index: 99;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 10px;
  background-color: @light_text;
  width: 320px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
  transition: 0.4s;	
}
.dropdown-content:before {
  content: "";
	display: block;
	width: 20px;
	height: 20px;
	margin-top: -20px;
	margin-left: 20px;
  border: 10px solid transparent; 
  border-bottom: 10px solid @light_text; 
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.4s;	

}
.dropdown-content a:hover {
	transition: 0.4s;	
	//font-weight: bold;
	color: @main_color;
}
.dropdown:hover .dropdown-content {
	transition: 0.4s;	
	display: block;
}
.dropdown:hover .drop-btn {
	transition: 0.4s;	
	color: @main_color;
}
.solid-header{
	display: none;
}
.products_counter{
	display: flex;
	background-color: #e57c00;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	margin-right: -10px;
	margin-top: -10px;
	margin-left: auto;
	span{
		margin: auto;
		font-size: 12px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		width: 100%;
		color:white !important;
	}
}

@media(max-width: 992px){
	.products_counter{	
		margin-right: 0;
		margin-top: -24px;
		margin-bottom: auto;
		margin-left: auto;	
	}
	.solid-field{
		width: 50%;
	}
	.slider{
		width: 50%;
	}
	.slider-nav{
		margin-top: 80px;
	}
	header{
		display: none;
	}
	.solid-header{
		display: block;
		z-index: 10;
	}
	.transparent-header{
		display: none;
	}
}
@media(max-width: 767px){
	.solid-field{
		display: none;

	}
	.slider{
		width:100%;
	}
	.blackout{
		background-color: rgba(0, 0, 0, 0.6);
	}
	
	h4{
		margin-top: 100px;
		font-size: 20px;
		margin-bottom: 0;
	}
	h1{
		font-size: 52px;
	}
	p{
		font-size: 18px;
		width: 80%;
	}
	.slider-nav{
		margin-top: 220px;
	}
}
@media(max-width: 466px){
	.slider-nav{
		margin-top: 130px;
	}
	h1, h4, p{
		text-align: center;
		width: 100%;		
	}
}
@media(max-width: 347px){
	.slider-nav{
		width: 100%;
		margin-top: 100px;
	}
}

</style>
