<template>
<div class="text-block" v-show="html" v-html="html"></div>
</template>
<script>
        const debug = require('debug')('app:demo')

	export default {
            props: {
                html: String,
            }
        }
</script>

<style lang="less" scoped>
@import '~assets/styles/index.less';
.text-block{
    color: white;
    /deep/ h4{
	margin-top: 150px;
	text-align: left;
	color: @light_text;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 10px;
    }
    /deep/ h1{
	font-weight: bold;
	color: @light_text;
	text-align: left;
	font-size: 72px;
	line-height: 88px;
	margin-bottom: 32px;
    }
    /deep/ p{
	width: 50%;
	margin:0;
	padding: 0;
	color: @light_text;
	font-size: 18px;
	line-height: 33px;
	text-align: left;
	margin-bottom: 80px;
    }
}
@media(max-width: 767px){
    .text-block{
        color: white;
        /deep/ h4{
                   margin-top: 100px;
                   font-size: 20px;
                   margin-bottom: 0;
               }
        /deep/ h1{
                   font-size: 52px;
               }
        /deep/ p{
                   font-size: 18px;
                   width: 80%;
               }
    }
}
@media(max-width: 466px){
    .text-block{
        h1, h4, p{
		text-align: center;
		width: 100%;		
        }
    }
}

</style>
