<template>
    <div class="sum-block">
        <div class="text m-0">{{ label1 }}</div>
        <div class="sum">{{ sum }} грн</div>
    </div>
</template>
<script>
    const debug = require('debug')('app:demo')
    export default{
        props: [ 'label_name' ],
        data() {
            return {
                sum: Number,
                label1: null,
                label2: null,
                labels: [
                    {
                        "label1": "До сплати:",
                        "lang": "ua",
                    },
                    {
                        "label1": "К оплате:",
                        "lang": "ru",
                    },
                ],
            }
        },
        mounted() {
            this.sum = this.$store.getters.getCartTotalSum();
            this.$root.$on(this.label_name, () => {
                this.sum = this.$store.getters.getCartTotalSum();
            });
        
            for (let i = 0; i < this.labels.length; i++) {
                if (this.labels[i].lang == this.getCurrentLanguage) {
                    this.label1 = this.labels[i].label1;
                    break;
                }
            }
        },
        computed: {
            getCurrentLanguage() {
                return (this.$store.getters.getCurrentLanguage != null)?this.$store.getters.getCurrentLanguage:this.$store.getters.getDefaultLanguage;
            },
        },
        watch: {
            getCurrentLanguage(value, oldvalue) {
                for (let i = 0; i < this.labels.length; i++) {
                    if (this.labels[i].lang == value) {
                        this.label1 = this.labels[i].label1;
                        break;
                    }
                }
            }
        },
    }
</script>
<style lang="less" scoped>
@import '~assets/styles/index.less';

.info-category{	
	padding: 25px;
	font-size: 18px;
	line-height: 27px; 
	background-color: @light_text;
        display: flex;
}

@media(max-width: 575px){
    .info-category{
        flex-direction: column;
    }
    .category-img{
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.category-img{
    display: block;
    min-width: 80px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 30px;
}

.select-pos {    
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 20px;
}
.right{
	margin: 0 0 0 auto;
	width: fit-content;
}
.sort-margin{
	margin-top: 60px;
}
.text{
	display: inline-block;
	width: 100px;
	font-weight: bold;
	line-height: 47px;
}
ul {
    list-style: none;
    padding: 35px 0;
    margin: 0;
}
li{
	margin-bottom: 20px;
}
.sidebar{
	a{
		color: @dark-bg;
	}
	a:hover, label:hover, .selected{
		color: @main_color;
		font-weight: bold;
	}
}
input[type=checkbox] {
	//display: none;
} 
input[type=checkbox]:checked + label {
  color: @main_color;
  font-weight: bold;
} 
.small-button{
	margin-top: 15px;
}
.filter-show, .filter-hide{
	display: none;	
}
.icon-pos{
	margin-bottom: auto;
	margin-top: 0;
}

.counter{
    margin-top: 15px;
    display: flex;
}
.minus, .plus, .count{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  //z-index: 9999;
}
.count{
  background-color: @light_text;
  width: 80px;
  border: none;
  background-color: @medium-bg;
  text-align: center;
}
.minus, .plus{
  background-color: @main_color;
  font-weight: bold;
  color: @light_text;
}
.minus:hover, .plus:hover{
  background-color: @hover_main_color;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
@media(max-width: 767px){
	.filter-show, .filter-hide{
		display: block;		
		background-size: contain;
		background-position: center;
		float: left;
		width: 36px;
		height: 36px;	
	}
	.filter-show{
		background: url("~assets/images/filter-icon.png") no-repeat;		
	}
	.filter-hide, .filter-show:hover{
		background: url("~assets/images/filter-icon-hover.png") no-repeat;		
	}
	.select-pos{
		float: right;
	}
	.text{
		margin-top: auto;
		margin-bottom: auto;
	}
	.sidebar{
		position: relative;
		margin-top: 15px;
		background-color: @light_text;
		padding: 15px;
	}
	.icon-pos{
		float: left
	}
}
@media(max-width: 600px){
	.text, .select-pos{
		display: block;
	}
	.text{
		margin-left: auto;
		margin-right: 0;	
        width:auto;
        text-align: right;
	}
	.icon-pos{
		height: 94px;
	}
	.filter-hide,.filter-show{
		height: 100%;	
		background-position: bottom;		
	}
}



</style>
