@dark-bg: #24292D;
@light_text: #ffffff;
@main_color: #7AB1FF;
@hover_main_color: #4381D8;
@medium-bg: #F4F4F4;

body{
	font-family: Montserrat;
}

h2{
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: @dark-bg;
	margin-bottom: 40px;
}
h2::after{
	content: " ";
  display: block;
  width: 80px;
  height: 1.2px;
  margin-top: 10px;
  background-color: @dark-bg;
  margin: 10px  auto 0 auto;
}	
@media(max-width: 438px){
	h2{
		font-size: 30px;
	}
}
@media(max-width: 370px){
	h2{
		font-size: 26px;
	}
}
.left-align::after{
	margin: 10px  0 0 0 !important;
}
h3, h4{
	font-weight: bold;
	font-size: 17px;
	line-height: 22px;
	//margin-top: 20px;
}
h3:after{
  content: " ";
  display: block;
  width: 80px;
  height: 1px;
  margin-top: 10px;
  background-color: @main_color;
}
h5{
	font-weight: bold;
	font-size: 16px;
}
.block{
	padding-top: 120px;
	padding-bottom: 145px; 
	min-height: calc(100vh - 226px);
}
.dark-bg{
	background-color: @dark-bg;
}	
.medium-bg{
	background-color: @medium-bg;
}
.light-text{
	color: @light_text !important;
}
.light-text:after{
	background-color: @light_text !important;;
}
a:hover{
	text-decoration: none;
}

//item card.css
.item-card{	
	//height: 510px;	
	width: 100%;
	background-color: @light_text;
	padding: 20px;
	padding-bottom: 30px;
	border: 1px solid transparent;
	display: inline-block;
	color: @dark-bg;
	transition: 0.4s;
	h3{
		height: 55px;
		max-height: 55px;
		span{
			display: -webkit-box;
	    -webkit-line-clamp: 2;
	    -webkit-box-orient: vertical;

		overflow: hidden;
	}		
	}
}
.item-card:hover{	
	border: 1px solid @main_color;
	color: @hover_main_color;
	transition: 0.4s;
}
.item-img{
	width: 100%;
	height: 212px;
	object-fit: contain;
	background-color: @medium-bg;
	margin-top: 15px;
	margin-bottom: 15px;
}
.empty-pic-bg{
	width: 100%;
	height: 212px;	
	background-color: @medium-bg;
	margin-top: 23px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.empty-img{
	height: 30px;
	width: 30px;
	background: url(~assets/images/empty-picture.png) no-repeat center;
	background-size: cover;
}
.item-container{	
	display: inline-block;
	padding: 15px;	
	width: 100%;
	vertical-align: top;
}
.info{
	font-size: 10px;
	line-height: 13px;
	display: inline;
}
.info:first-of-type::after{
	content: "";
	display: inline-block;
	width: 1px;
	height: 20px;
	background-color: @main_color;
	vertical-align: middle;	
	margin-left: 3px;
	margin-right: 3px;
}
.price{
	font-family: Montserrat;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	margin-top: 15px;
}
@media(max-width: 576px){
	.item-card{	
		height: fit-content;
	}
}
.solid-button{
	transition: 0.4s;
	background-color: @main_color;
	color: @light_text;		
	border: none;
	border: 1px solid @main_color;
}
.solid-button:hover{
	transition: 0.4s;
	background-color: @hover_main_color;
	border: 1px solid @hover_main_color;
	color: @light_text;
}
.bordered-button{
	//max-width: 250px;
}
.small-button{
	width: 100%;
	font-size: 16px;
	padding: 10px 0;
	text-align: center;
	font-weight: bold;
	line-height: 20px;
}
.button{
	font-weight: bold;
	font-size: 18px;
	display: block;
	box-sizing: border-box;
	padding: 14px 0;
	width: 270px;
	text-align: center;	
	transition: 0.4s;	
}
.brdr-btn-main-color{
	border: 1px solid @main_color;
	color: @main_color;	
	transition: 0.4s;
}
.brdr-btn-main-color:hover{
	border: 1px solid @hover_main_color;
	background-color: @hover_main_color;
	color: @light_text;	
	transition: 0.4s;
}
.brdr-btn-dark-color{
	border: 1px solid @dark-bg;
	color: @dark-bg;	
	transition: 0.4s;
}
.brdr-btn-dark-color:hover{
	color: @light_text;	
	background-color: @dark-bg;
	transition: 0.4s;
}
.brdr-btn-light-color{
	border: 1px solid @light_text;
	color: @light_text;	
	transition: 0.4s;
}
.brdr-btn-light-color:hover{
	color: @dark-bg;	
	background-color: @light_text;
	transition: 0.4s;
}
@media(max-width: 466px){
	.button{
		width: 100%;
	}
}
//input styles
input,textarea{
	margin-bottom: 10px;
	padding: 13px 17px;	
	background-color: transparent;
}
input,textarea:focus{
	outline: 0;
}
textarea{
	resize: none;
}
.light-input{
	border: 1px solid @dark-bg;
	color: @dark-bg;
}
.light-input:focus{
  outline: none;
  background-color: rgba(0,0,0, 0.05);
}
.dark-input{
	border: 1px solid @light_text;
	color: @light_text;
}
.dark-input:focus{
  outline: none;
 	background-color: rgba(255,255,255, 0.1);
}
.cross{
	cursor: pointer;
	width: 55px;
	height: 55px;
	background: url("~assets/images/cross.png") no-repeat;	
	background-size: contain;	
}
.cross:hover{
	background: url("~assets/images/cross_hover.png");
	background-size: contain;	
}
@media(max-width: 767px){
  .cross{
    width: 40px;
    height: 40px;
  }
  .modal-container{
    width: 90% !important; 
    padding: 30px !important;
  }
}

//testimonials styles
.testimonial{
	padding: 20px;
	width: 100%;
	min-height: 100px;	
	margin-bottom: 30px;
}
.light-t{
	border: 1px solid @light_text;	
	color: @light_text;
}
.dark-t{
	background-color: @light_text;	
}
.testimonial-text{
	display: inline-block;	
	width: 85%;
	vertical-align: top;
}
.t-info{
	display: inline-block;	
	width: 15%;
	vertical-align: top;
	font-size: 16px;
}
.name{
	font-weight: bold;
	margin-bottom: 5px;
}
@media(max-width: 767px){
	.t-info{		
		width: 25%;		
	}
	.testimonial-text{			
		width: 75%;		
	}
}
@media(max-width: 466px){
	.t-info, .testimonial-text{		
		display: block;	
		width: 100%;	
	}	
	.t-info{
		margin-bottom: 25px;
	}
}

.post-testimonial{
	background-color: @light_text;	
	padding: 25px 40px;
	margin-bottom: 40px;
	vertical-align: middle;
}
.post-testimonial-text{
	font-weight: bold;
	color: @main_color;	
	width: 50%;
	padding: 15px 0;
	font-size: 18px;
	margin-top: auto;
	margin-bottom: auto;
}
@media(max-width: 767px){
	.post-testimonial-text{
		text-align: center;	
		width: 100%;
		margin-bottom: 20px;
	}
	.button{
		width: 100%;
	}
}
@media(max-width: 767px){
	.block{
		padding: 70px 0;
	}
}
//auth
.link{
	color: @main_color;
	width: 100%;
	margin: 0 auto;
	text-align: right;	
	font-weight: bold;
}
.link:hover{
	color: @hover_main_color;
}

//error styles
.error{
	color: red;
	font-size: 16px;	
	margin-bottom: 0;
	text-align: left !important;
}
.errors{
	margin-bottom: 10px;	
}
.err-field{
	display: block;
	min-height: 27px;
	text-align: left !important;
	margin-bottom: 3px;
}
.form-group--error{
	color: red;
}
