<template>
  <div>
    <CallMeBackModal />
    <AddToCartModal />
    <nuxt />
  </div>
</template>

<script>
    import CallMeBackModal from '@/components/CallMeBackModal.vue';
    import AddToCartModal from '@/components/AddToCartModal.vue';

    export default{
        components: {
            CallMeBackModal,
            AddToCartModal
        }
    }
</script>
<style>
</style>
