<template>
    <div>
        <Header/>
        <div class="block medium-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-uppercase text-center">Корзина</h2>
                    </div>
                </div>	
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center" v-show="empty">
                            <div class="text">В корзине нет товаров.</div>
                            <nuxt-link to="/" class="solid-button button m-auto">Начать покупки</nuxt-link>
                        </div>
                        <div v-show="!empty">
                            <div class="item" v-for="item in items" v-bind:key="item.uuid">
                                <div class="info-container">
                                    <div class="img">
                                        <h4 v-show="h4OnTop" class="item-name">{{item.name}}</h4>
                                        <img v-if="item.main_image" :src="item.main_image.url" alt="">
                                        <div class="empty-pic-bg" v-if="!item.main_image"><div class="empty-img"></div></div>
                                    </div>
                                    <div class="main-info">
                                        <h4 v-show="!h4OnTop" class="item-name">{{item.name}}</h4>
                                        <div class="info-time">Под заказ, 7 дней</div>
                                        <div class="price">Цена: {{item.price}}  грн</div>
                                    </div>
                                    <div class="counter-block">
                                        <div class="text">Количество</div>
                                         <form action="" autocomplete="off" @click.prevent="">
                                             <TempCount :product="item" :mode="'cart'" />
                                        </form>
                                    </div>
                                    <ProductSum :product="item" :label_name="'label_'+item.uuid" />
                                    <div class="cross-container">
                                        <div class="cross" @click="deleteItem(item)"></div>
                                    </div>
                                </div>
                            </div>    
                            <TotalSum label_name="total_sum" />
                            <div class="buttons clearfix" v-show="!show_step_2">
                                <div @click="showStep2()" class="button solid-button float-right">Перейти к оформлению</div>
                                <nuxt-link to="/" class="button brdr-btn-main-color float-left">Продолжить покупки</nuxt-link>
                            </div>
                            <div class="step-2" v-show="show_step_2">
                            <div class="bg-block">
                                <form autocomplete="off" @submit.prevent="submit">
                                    <h4>Информация о получателе:</h4>
                                    <div v-if="$v.name.$error" class="err-field">
                                        <div>
                                            <span class="error" v-if="!$v.name.required">Укажите имя.</span>
                                            <span class="error" v-if="!$v.name.minLength">Имя слишком короткое.</span>
                                            <span class="error" v-if="!$v.name.onlyLetters">Имя может содержать только буквы.</span>
                                        </div>
                                    </div>
                                    <input type="text" class="light-input" name="name" v-model="name" placeholder="Имя">
                                    <div v-if="$v.secname.$error" class="err-field">
                                        <div>
                                            <span class="error" v-if="!$v.secname.required">Укажите отчество.</span>
                                            <span class="error" v-if="!$v.secname.onlyLetters">Отчество может содержать только буквы.</span>
                                        </div>
                                    </div>
                                    <input type="text" class="light-input" name="secname" v-model="secname"  placeholder="Отчество">
                                    <div v-if="$v.surname.$error" class="err-field">
                                        <div>
                                            <span class="error" v-if="!$v.surname.required">Укажите фамилию.</span>
                                            <span class="error" v-if="!$v.surname.onlyLetters">Фамилия может содержать только буквы.</span>
                                        </div>
                                    </div>
                                    <input type="text" class="light-input" name="surname" v-model="surname"  placeholder="Фамилия">
                                    <div v-if="$v.phone.$error"class="err-field">
                                        <div>
                                            <span class="error" v-if="!$v.phone.required">Укажите номер телефона.</span>
                                            <span class="error" v-if="!$v.phone.mustBePhoneNum">Неправильный формат номера.</span>
                                        </div>
                                    </div>
                                    <input type="text" class="light-input" name="phone" v-model="phone"  placeholder="Номер телефона">
                                    <div v-if="$v.email.$error" class="err-field">
                                        <div>
                                            <span class="error" v-if="!$v.email.required">Укажите электронную почту. </span>
                                            <span class="error" v-if="!$v.email.email">Неправильный формат электронной почты.</span>
                                        </div>
                                    </div>
                                    <input type="email" class="light-input" name="email" v-model="email"  placeholder="Email">
                                    <h4 class="h4margin">Способ доставки:</h4>
                                    <div v-if="$v.delivery_method.$error" class="err-field">
                                        <div>
                                            <span class="error" v-if="!$v.delivery_method.required">Укажите способ доставки.</span>
                                        </div>
                                    </div>
                                    <CustomSelect :options="['Новая почта', 'Delivery', 'самовывоз']" :bordered="true" :is_form_input="true" :mode="'option'" select_name="delivery_method" class="select-pos" placeholder="Выберите способ доставки"/>  
                                    <div v-show="delivery_method == 'Новая почта'">
                                        <div v-if="$v.np_area.$error" class="err-field">
                                            <div>
                                                <span class="error" v-if="!$v.np_area.required">Укажите область.</span>
                                            </div>
                                        </div>
                                        <CustomObjectSelect :options="getNPAreas" :bordered="true" select_name="np_area" class="select-pos" placeholder="Выберите область"/>
                                        <div v-show="np_area">
                                            <div v-if="$v.np_city.$error" class="err-field">
                                                <div>
                                                    <span class="error" v-if="!$v.np_city.required">Укажите город доставки.</span>
                                                </div>
                                            </div>
                                            <CustomObjectSelect :options="getNPSettlements" :bordered="true" returns="key" select_name="np_city" class="select-pos" placeholder="Выберите город" />
                                        </div>
                                        <div v-show="np_city">
                                            <div v-if="$v.np_delivery_type.$error" class="err-field">
                                                <div>
                                                    <span class="error" v-if="!$v.np_delivery_type.required">Укажите тип доставки.</span>
                                                </div>
                                            </div>
                                            <CustomSelect :options="['В отделении', 'Адресная доставка']" :bordered="true" :is_form_input="true" select_name="np_delivery_type" class="select-pos" placeholder="Выберите тип доставки"/>  
                                        </div>
                                        <div v-show="np_delivery_type && np_delivery_type == 'В отделении'">
                                            <div v-if="$v.np_dept.$error" class="err-field">
                                                <div>
                                                    <span class="error" v-if="!$v.np_dept.required">Укажите отделение.</span>
                                                </div>
                                            </div>
                                            <CustomSelect :options="['Отделение №1', 'Отделение №2', 'Отделение №3']" :bordered="true" select_name="np_dept"  :is_form_input="true"class="select-pos" placeholder="Выберите отделение"/>
                                            <div class="np_dept_address" v-show="np_dept"><b>Адрес отделения:</b> ул. Глинки, 2</div>
                                        </div>   
                                        <div v-show="np_delivery_type && np_delivery_type == 'Адресная доставка'">
                                            <div v-if="$v.np_delivery_address.$error" class="err-field">
                                                <div>
                                                    <span class="error" v-if="!$v.np_delivery_address.required">Укажите адрес доставки.</span>
                                                </div>
                                            </div>
                                            <input type="text" class="light-input" name="np_delivery_address" v-model="np_delivery_address"  placeholder="Адрес доставки">
                                        </div>                                        
                                    </div>
                                    <!--h4  class="h4margin">Способ оплаты:</h4>
                                    <div class="err-field">
                                        <div v-if="$v.payment_method.$error">
                                            <span class="error" v-if="!$v.payment_method.required">Укажите город доставки.</span>
                                        </div>
                                    </div>
                                    <CustomSelect :options="['На карту', 'Наложенный платеж']" :bordered="true" select_name="payment_method" class="select-pos" placeholder="Выберите способ оплаты" /-->
                                    <h4  class="h4margin">Комментарий:</h4>
                                    <textarea class="light-input" name="comment" v-model="comment" placeholder="Напишите комментарий"></textarea>                                
                                </form>
                            </div>
                            </div>
                            <div class="buttons clearfix" v-show="show_step_2">
                                <input type="submit" @click="submit()" value="Оформить заказ" class="button solid-button float-right">
                                <nuxt-link to="/" class="button brdr-btn-main-color float-left">Продолжить покупки</nuxt-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer/>
    </div>
</template>

<script>
    import Header from "@/components/Header.vue"
    import Footer from "@/components/Footer.vue"
    import CustomSelect from "@/components/CustomSelect.vue"
    import CustomObjectSelect from "@/components/CustomObjectSelect.vue"
    import ProductSum from "@/components/ProductSum.vue"
    import TotalSum from "@/components/TotalSum.vue"

    const debug = require('debug')('app:demo')
    import vuelidate from 'vuelidate';
    import { required, requiredIf, minLength, helpers, email, sameAs } from 'vuelidate/lib/validators';
    const mustBePhoneNum = helpers.regex('mustBePhoneNum', /^(\+38)?0\d{3}\d{2}\d{2}\d{2}$/)
    import TempCount from "@/components/TempCount.vue";
    const onlyLetters = helpers.regex('onlyLetters', /^[a-zA-Zа-яА-ЯёЁ]*$/)

    export default{
        components: {	
            Header,		
            Footer,
            TempCount,
            ProductSum,
            TotalSum,
            CustomSelect,
            CustomObjectSelect
        },
        data(){
            return{
                h4OnTop: false,
                name: "",
                secname: "",
                surname: "",
                phone: "",
                email: "",
                delivery_method: "",
                np_delivery_type: "",
                np_area:"",
                np_area_key: undefined,
                np_city: "",
                np_city_key: undefined,
                np_dept: "",
                np_delivery_address: "",
                //payment_method: "",
                comment: "",
                np_cities: [],
                np_deps: [],
                show_step_2: false
            }
        },
        validations: {
            name: {
                required,
                onlyLetters,
                minLength: minLength(2),
            },
            secname: {
                onlyLetters,
            },
            surname: {
                required,
                onlyLetters,
            },
            phone: {
                required,
                mustBePhoneNum,
            },
            email: {
                required,
                email,
            },           
            delivery_method: {
                required
            },
            np_delivery_type: {
                required: requiredIf(function(){
                    return this.delivery_method && this.delivery_method == 'Новая почта'
                })
            },
            np_area: {
                required: requiredIf(function(){
                    return this.delivery_method && this.delivery_method == 'Новая почта'
                })
            },
            np_city: {
                required: requiredIf(function(){
                    return this.delivery_method && this.delivery_method == 'Новая почта'
                })
            },
            np_dept: {
                required: requiredIf(function(){
                    return this.delivery_method && this.delivery_method == 'Новая почта' && this.delivery_type == 'В отделении'
                })
            },
            np_delivery_address:{
                required: requiredIf(function(){
                    return this.delivery_method && this.delivery_method == 'Новая почта' && this.delivery_type == 'Адресная доставка'
                })
            }                    
        },
        head() {
            if (this.getContent) {
                return {
                    title: this.process_text(this.getContent.title),
                    meta: [
                        { hid:'description', name: 'description', content: this.process_text(this.getContent.meta_description) },
                        { hid: 'keywords', name: 'keywords', content: this.process_text(this.getContent.meta_keywords) },
                    ],
                    link: [
                        {
                            rel: 'stylesheet',
                            href: 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap'
                        }
                    ],
                }
            } else {
                return {
                    link: [
                        {
                            rel: 'stylesheet',
                            href: 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap'
                        }
                    ],
                }
            }
        },
        async fetch({ store, params}) {
            await store.dispatch('getLastChanges');
            if (store.getters.getCurrentVersion.seo != store.getters.getSEOVersion()) {
                await store.dispatch('getSEOParams');
                store.commit('setSEOVersion', store.getters.getCurrentVersion.seo);
            }
            if (store.getters.getToken==null) {
                await store.dispatch('getCSRFToken')
            }
            if (store.getters.getCurrentVersion.pages != store.getters.getPagesVersion()) {
                await store.dispatch('getPages')
                store.commit('setPagesVersion', store.getters.getCurrentVersion.pages);
            }
            if (store.getters.getCurrentVersion.contacts != store.getters.getContactVersion()) {
                await store.dispatch('getContact')
                debug('41');
                store.commit('setContactVersion', store.getters.getCurrentVersion.contacts);
            }
            if (store.getters.getCurrentVersion.brands != store.getters.getBrandsVersion()) {
                await store.dispatch('getBrands')
                store.commit('setBrandsVersion', store.getters.getCurrentVersion.brands);
            }
            if (store.getters.getCurrentVersion.projects != store.getters.getProjectsVersion()) {
                await store.dispatch('getProjects')
                store.commit('setProjectsVersion', store.getters.getCurrentVersion.projects);
            }
            if (store.getters.getCurrentVersion.categories != store.getters.getCategoriesVersion()) {
                await store.dispatch('getCategories')
                store.commit('setCategoriesVersion', store.getters.getCurrentVersion.categories);
            }
            if (store.getters.getCurrentVersion.products != store.getters.getProductsVersion()) {
                await store.dispatch('getProducts')
                store.commit('setProductsVersion', store.getters.getCurrentVersion.products);
            }
        },
        fetchOnServer: true,
        beforeMount() {
            window.addEventListener("resize", this.onResize);
        },
        updated() {
            this.onResize();
        },
        destroyed() {
            window.removeEventListener("resize", this.onResize);
            this.show_step_2 = false;
            window.removeEventListener('scroll', this.handleScroll);
        },
        methods:{
            isNumber(evt){
              evt = (evt) ? evt : window.event;
              var charCode = (evt.which) ? evt.which : evt.keyCode;
              if ((charCode > 31 && (charCode < 48 || charCode > 57))) {
                evt.preventDefault();
              } else {
                return true;
              }
            },            
            submit() {
                this.$v.$touch()
                //if(this.delivery_method.length == 0){
                //this.delivery_method_err = true 
                //}
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR';
                } else {
                    // submit logic 
                    this.$router.push('/order_success');
                }
            },
            showStep2(){
                this.show_step_2 = true;
            },
            onResize(){
                if (document.documentElement.clientWidth <= 471) {
                    this.h4OnTop = true;
                } else {
                    this.h4OnTop = false;
                }
            },           
            deleteItem:function(i){
                var removeIndex = this.items.map(function(i) { return i.id; }).indexOf(i.id);
                this.items.splice(removeIndex, 1);
            },
            calc:function(i){
                i.sum = i.temp_count*i.price;
            },
            handleScroll(){
                this.$store.dispatch('setScrollPositionValue', window.scrollY)                
            },
        },
        mounted(){
            this.onResize();
            window.addEventListener('scroll', this.handleScroll);
            this.handleScroll();
            this.$root.$on("delivery_method", async (p) => {
                this.delivery_method = p;
                if (p == "Новая почта") {
                    //alert(this.$store.getters.getNPAreas.length);
                    if ((this.$store.getters.getNPAreas.length == 0)) {
                        await this.$store.dispatch('getNPAreaInformation')
                        .then(() => {
                        });
                    }                    
                }                
                
            });
            this.$root.$on("np_delivery_type", (p) => {
                this.np_delivery_type = p;
            });
            this.$root.$on("np_city", (p) => {
                this.np_city_key = p.key;
                this.np_city = p.value;
//                if ((this.$store.getters.getNPSettlements(p.key, 'ru').length == 0)) {
//                    await this.$store.dispatch('getNPAreaInformation')
//                    .then(() => {});
//                    alert('2');
//                }
            });
            this.$root.$on("np_dept", (p) => {
                this.np_dept = p;
            });
            this.$root.$on("np_area", async (p) => {
                this.np_area_key = p.key;
                this.np_area = p.value;
                if ((this.$store.getters.getNPSettlements(p.key, 'ru').length == 0)) {
                    await this.$store.dispatch('getNPAreaInformation')
                    .then(() => {});
//                    alert('2');
                }
            });
        },
        computed: {
            getContent() {
                return this.$store.getters.getPage(this.page_identifier,this.page_type)[0];
            },
            items() {
                let x=this.$store.getters.getCart;
                return x;
            },
            empty() {
                return (this.$store.getters.getProductsCount>0)?false:true;
            },
            totalSum: function(){
                var sum = 0;
                for (let i = 0; i < this.items.length; i++) {
                    sum+=this.items[i].price*this.items[i].count;
                }
                return sum;
            },
            getNPAreas() {
                return this.$store.getters.getNPAreas;
            },
            getNPSettlements() {
                return this.$store.getters.getNPSettlements(this.np_area_key, 'ru');
            },
        }
    }
</script>

<style lang="less" scoped>
@import '~assets/styles/index.less';
.empty-pic-bg{
    margin-top:0;
    width: 100px;
    height: 100px;
    margin-bottom:0;
}
.bg-block{
    background-color: @light_text;
    width: 100%;
    padding: 30px;
    margin-bottom: 60px;
}
.h4margin{
    margin-top: 25px;    
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
}
textarea{
    height: 134px;  
    margin-bottom: 30px;
}
.select-pos{
    width: 100%;
    margin-bottom: 20px;
}
.sum{
    font-weight: bold;
    width:max-content !important;
    margin-left: 20px;
}
.sum-block{
    display:flex;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    margin-bottom:30px;
}
//--------
.text{
	margin-bottom: 10px;
}
.item{
	padding: 20px;
	background-color: @light_text;
	margin-bottom: 30px;
}
.img{
	width: 12%;
	display: inline-block;
	vertical-align: top;    
}
img{
	width: 100px;
	height: 100px;
	margin-right: 25px;
	vertical-align: middle;
    object-fit: contain; 
    background-color: @medium-bg;   
}
.main-info{
	display: inline-block;
	vertical-align: top;
	width: 38%;
    margin-right: 10px;
}
h4{
	margin-top: 0;
	margin-bottom: 15px;
}
.info-time{
	margin-bottom: 5px;
}
.counter{
    display: flex;
}
.minus, .plus, .count{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.count{
  background-color: @light_text;
  width: 80px;
  border: none;
  background-color: @medium-bg;
  text-align: center;
}
.minus, .plus{
	background-color: @main_color;
	font-weight: bold;
	color: @light_text;
}
.minus:hover, .plus:hover{
  background-color: @hover_main_color;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
  margin-bottom: 0;
}
.sum{
	width: 20%;
	vertical-align: top;
	display: inline-block;
}

.cross-container{
	position: absolute;	
	top: calc(50% - 27px);
	right: 20px;
}
.info-container{
	width: 100%;
    display:flex;
    align-items: top;
	position: relative;
}
.buttons{
	text-align: right;
}

@media(max-width: 991px){
    .info-container{
        flex-direction:column;
    }
	.main-info{
        margin-top: 20px;
		margin-left: 0;
	}
	h4{
		margin-bottom: 0;
        text-align: left;
	}
	.sum{		
		margin-left: 0;
		text-align: right;
		vertical-align: bottom;
		width: 35%;		
	}
	.price{
		margin: 0;
	}
	.info-time{
		margin-top: 10px;
	}
	.cross-container{	
		right: 0;
        top:0;		
	}
    .counter-block{
        margin-top:20px;
    }
    .text{
        margin-right: 10px !important;       
    }
}

@media(max-width: 767px){
	.solid-button{
		margin-bottom: 20px;
	}
}

@media(max-width: 471px){
    .info-container{
        align-items: center;
    }
    .img{
        width:100%;
        text-align:center;
        h4{
          text-align:center;
          margin-bottom:10px;  
        }
        img{
            margin-right:0;
        }
        .empty-pic-bg{
            margin: auto;
        }
    }
    .main-info{
        width:100%;
        text-align:center;
        margin-right: 0;
    }
    .counter-block{
        text-align:center;
    }
    .text{
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
    .sum{
        h4{
            text-align:center
        }
        
    }
	
}
</style>
