<template>
	<div v-if="getContent">
		<SliderBlock :slogan="getBlockContent(slogan_identifier)"/>
		<AboutUs v-if="showabout" :abouttext1="getBlockContent(abouttext1_identifier)" :abouttext2="getBlockContent(abouttext2_identifier)" :abouttext3="getBlockContent(abouttext3_identifier)"/>
                <OurProjects/>
		<Showcase/>
		<Contacts v-if="Contact()" :map_info="Contact().map_info" :contact_info="Contact().contact_info" :schedule_info="Contact().schedule_info" :delivery_info="Contact().delivery_info" :payments_info="Contact().payments_info" />
                <ContactUs :csrftoken="getToken"/>
		<Footer/>
	</div>
        <div v-else>
        No content to review
        </div>
</template>
<script>
   import SliderBlock from "@/components/SliderBlock.vue"
    import AboutUs from "@/components/AboutUs.vue"
    import OurProjects from "../components/OurProjects.vue"
    import Showcase from "../components/Showcase.vue"
    import Contacts from "../components/Contacts.vue"
    import ContactUs from "../components/ContactUs.vue"
    import Footer from "../components/Footer.vue"
    const debug = require('debug')('app:demo')

    export default{
        name: 'index',
        components: {
            SliderBlock,
            AboutUs,
            OurProjects,
            Showcase,
            Contacts,
            ContactUs,
            Footer,
        },
        mounted: function() {
            //alert(this.$store.getters.getProductTempCount({ 'uuid': '6f26f7dc-0223-4ef6-95e2-a445915110ba' }));

            console.log("=============")
            console.log(this.$i18n.locale);
            console.log("==========")

        },
        data() {
            return {
                showabout: true,
                csrftoken: '',
                page_type: 'Статическая страница',
                page_identifier: 'ГЛАВНАЯ',
                slogan_identifier: 'SLOGAN',
                abouttext1_identifier: 'ABOUTTEXT1',
                abouttext2_identifier: 'ABOUTTEXT2',
                abouttext3_identifier: 'ABOUTTEXT3'
            }
        },
        head() {
            if (this.getContent) {
                return {
                    title: this.process_text(this.getContent.title),
                    meta: [
                        { hid:'description', name: 'description', content: this.process_text(this.getContent.meta_description) },
                        { hid: 'keywords', name: 'keywords', content: this.process_text(this.getContent.meta_keywords) },
                    ],
                    link: [
                        {
                            rel: 'stylesheet',
                            href: 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap'
                        }
                    ],
                }
            }
        },
        async fetch({ store, params}) {
            debug("fetch in home")
            await store.dispatch('getLastChanges');
            if (store.getters.getCurrentVersion.seo != store.getters.getSEOVersion()) {
                await store.dispatch('getSEOParams');
                store.commit('setSEOVersion', store.getters.getCurrentVersion.seo);
            }
            if (store.getters.getToken==null) {
                await store.dispatch('getCSRFToken')
            }
            if (store.getters.getCurrentVersion.pages != store.getters.getPagesVersion()) {
                await store.dispatch('getPages')
                store.commit('setPagesVersion', store.getters.getCurrentVersion.pages);
            }
            if (store.getters.getCurrentVersion.contacts != store.getters.getContactVersion()) {
                await store.dispatch('getContact')
                store.commit('setContactVersion', store.getters.getCurrentVersion.contacts);
            }
            if (store.getters.getCurrentVersion.brands != store.getters.getBrandsVersion()) {
                await store.dispatch('getBrands')
                store.commit('setBrandsVersion', store.getters.getCurrentVersion.brands);
            }
            if (store.getters.getCurrentVersion.projects != store.getters.getProjectsVersion()) {
                await store.dispatch('getProjects')
                store.commit('setProjectsVersion', store.getters.getCurrentVersion.projects);
            }
            if (store.getters.getCurrentVersion.categories != store.getters.getCategoriesVersion()) {
                await store.dispatch('getCategories')
                store.commit('setCategoriesVersion', store.getters.getCurrentVersion.categories);
            }
            if (store.getters.getCurrentVersion.products != store.getters.getProductsVersion()) {
                await store.dispatch('getProducts')
                store.commit('setProductsVersion', store.getters.getCurrentVersion.products);
            }
        },
        fetchOnServer: true,
        computed: {
            getContent() {
                return this.$store.getters.getPage(this.page_identifier,this.page_type)[0];
            },
            getToken() {
                return this.$store.getters.getCSRFToken;
            },
            getCurrentLanguage() {
                return (this.$store.getters.getCurrentLanguage != null)?this.$store.getters.getCurrentLanguage:this.$store.getters.getDefaultLanguage;
            }
        },
        methods: {
            getBlockContent(name) {
                let block = this.getContent.blocks.filter(block => (block.block_identifier==name && block.block_language==this.getCurrentLanguage))[0];
                if (block) {
                    return block.block_content;
                } else {
                    return undefined;
                }
            },
            Contact() {
                return this.$store.getters.Contact(this.getCurrentLanguage)[0];
            },
            process_text(text) {
                let templates = text.match(/\{.*?\}/g);
                if (templates) {
                    for (let i=0; i<templates.length; i++) {
                        let local_titles = templates[i].match(/#.*?#/);
                        if (local_titles) {
                            let local_title = local_titles[0].substr(1,local_titles[0].length-2);
                            if (local_title) {
                                let cont = this[local_title];
                                console.log(cont);
                                if (cont!=null) {
                                    text = text.replace(templates[i], cont);
                                }
                            }
                        }
                        let params_sets = templates[i].match(/%.*?%/);
                        if (params_sets) {
                            let params_set = params_sets[0].substr(1,params_sets[0].length-2);
                            let params = templates[i].match(/\$.*?\$/);
                            let param = params[0].substr(1,params[0].length-2);
                            if (param) {
                                let cont = this.$store.getters.getParamFromSet(params_set,param, this.$i18n.locale);
                                if (cont!=null) {
                                    text = text.replace(templates[i], cont);
                                }
                            }
                        }
                    }
                }
                return text;
            }
        },
        watch: {
            getCurrentLanguage(value, oldvalue) {
                this.showabout = !this.showabout;
                this.showabout = !this.showabout;
            }
        }
    }
</script>

<style lang="less" scoped>
	
</style>
