<template>
    <div v-show="allCategories && allCategories.length>0 && Items && Items.length>0" >
        <Header/>
        <div class="block medium-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-uppercase text-left left-align">{{ currentCategory.name }}</h2>
                    </div>
                </div>
                <div v-show="currentCategory.full_description!=''" class="row">
                    <div class="col-md-12">
                        <div class="info-category">
                            <img v-if="currentCategory.image" :src="currentCategory.image" class="category-img" alt="">
                            <div>
                                <span v-html="currentCategory.full_description" />
                            </div>
                            </div>
                    </div>
                </div>
                <div class="row sort-margin">
                    <div class="col-md-12">
                        <div class="icon-pos">
                            <div class="filter-show" v-if="!show" @click="show = !show" key="filter-show"></div>
                            <div class="filter-hide" v-else @click="show = !show" key="filter-hide"></div>
                        </div>
                        <div class="sort-pos right">
                            <div class="text" v-html="label1"></div>
                            <CustomSelect :options="getSortOptions" :bordered="false" :is_form_input="false" :placeholder="getSortOptions[getCurrentSortType]" class="select-pos" />
                        </div>
                    </div>		
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <nav>
                            <transition name = "fade">
                                <div v-if="show" class="sidebar">
                                    <span>
                                        <h3 v-html="label2"></h3>
                                        <ul>
                                            <li v-for="cat in allCategories">
                                                <nuxt-link :to="`/items_list/${cat.alias}`" :class="{selected:currentCategory.alias===cat.alias}">{{ cat.name }}</nuxt-link>
                                            </li>
                                        </ul>
                                    </span>
                                    <span>
                                        <h3 v-html="label3"></h3>
                                        <ul>
                                            <li>
                                                <CustomCheckbox v-for="m in manufacturers" v-bind:key="m.name">{{m}}</CustomCheckbox>	
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </transition>
                        </nav>	
                    </div>
                    <div v-show="displaylist" class="col-md-9 p-0">
                        <div  class="col-lg-4 col-md-6 col-sm-6 item-container" v-for="item in Items">
                            <nuxt-link v-bind:key="item.uuid" :to="`/items_list/${item.category_alias}/${item.alias}`" class="item-card">
                                <h3 :title="item.name"><span>{{ item.name }}</span></h3>
                                <img class="item-img" v-if="item.main_image" :src="`${item.main_image.url}`" alt="${item.main_image.name}" />
                                <div class="empty-pic-bg" v-if="!item.main_image"><div class="empty-img"></div></div>
                                <div class="info" v-html="label4"></div>
                                <div class="info" v-html="label5"></div>
                                <div class="price" v-html="label6+item.price+label7"></div>
                                <form action="" autocomplete="off" @click.prevent="">
                                    <TempCount :product="item" :mode="'non-cart'" />

                                </form>
                                <div class="small-button solid-button" @click.prevent="addToCart(item)" v-html="label8"></div>
                                <div class="small-button brdr-btn-main-color" @click.prevent="showModalCallMeBack" v-html="label9"></div>
                            </nuxt-link>
                        </div>
                    </div>
                </div>			
            </div>			
        </div>	
        <Footer/>
    </div>
</template>

<script>
    import axios from 'axios'
    import Header from "@/components/Header.vue"
    import Footer from "@/components/Footer.vue"
    import CustomSelect from "@/components/CustomSelect.vue";
    import TempCount from "@/components/TempCount.vue";
    import CustomCheckbox from "@/components/CustomCheckbox.vue";
    const debug = require('debug')('app:demo')

    export default{
//        validate ({ params }) {
//            return /^\d+$/.test(params.id)
//        },
        components: {
            Header,	
            CustomSelect,	
            TempCount,
            CustomCheckbox,
            Footer
        },
        data(){
            return{
                displaylist: true,
                show: true,
                page_identifier: 'КАТЕГОРИЯ',
                page_type: 'Страница категории',
                local_title: '',
                local_meta_description: '',
                local_meta_keywords: '',
                label1: null,
                label2: null,
                label3: null,
                label4: null,
                label5: null,
                label6: null,
                label7: null,
                label8: null,
                label9: null,
                labels: [
                    {
                        "label1": "Сортувати",
                        "label2": "Група товарів/послуг",
                        "label3": "Виробник",
                        "label4": "Оптом та в роздріб",
                        "label5": "На замовлення, 7 діб",
                        "label6": "від ",
                        "label7": "  грн/кв.м.",
                        "label8": "Купити",
                        "label9": "Передзвоніть мені",
                        "lang": "ua",
                    },
                    {
                        "label1": "Сортировать",
                        "label2": "Группа товаров/услуг",
                        "label3": "Производитель",
                        "label4": "Оптом и в розницу",
                        "label5": "Под заказ, 7 дней",
                        "label6": "от  ",
                        "label7": "  грн/кв.м.",
                        "label8": "Купить",
                        "label9": "Перезвоните мне",
                        "lang": "ru",
                    },
                ],
            }
        },
        head() {
            if (this.getContent) {
                if (this.local_title=='') {
                    this.local_title = this.currentCategory.name;
                }
                if (this.local_meta_description=='') {
                    this.local_meta_description = this.currentCategory.meta_description;
                }
                if (this.local_meta_keywords=='') {
                    this.local_meta_keywords = this.currentCategory.meta_keywords;
                }
                return {
                    title: this.process_text(this.getContent.title),
                    meta: [
                        { hid:'description', name: 'description', content: this.process_text(this.getContent.meta_description) },
                        { hid: 'keywords', name: 'keywords', content: this.process_text(this.getContent.meta_keywords) },
                    ],    
                    link: [
                        {
                            rel: 'stylesheet',
                            href: 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap'
                        }
                    ],
                }
            }
        },
        methods:{           
            //showAddedToCartModal() {
                //this.$root.$emit('modal-atc-on', true);
            //},
            addToCart(product) {
                this.$store.commit('addToCart', product);
                let value = 1
                this.$store.commit('setProductTempCount',  { product, value });
                //console.log(this.$store.getters.getSumProductsCount)
                //let value = 1;
                //this.$store.commit('setProductTempCount', {product, value});   
            },
            showModalCallMeBack() {
                this.$root.$emit('modal-cmb-on', true);
            },
            onResize(){
                if (document.documentElement.clientWidth <= 767) {
                    this.show = false;
                } else {
                    this.show = true;
                }
            },
            process_text(text) {
                let templates = text.match(/\{.*?\}/g);
                if (templates) {
                    for (let i=0; i<templates.length; i++) {
                        let local_titles = templates[i].match(/#.*?#/);
                        if (local_titles) {
                            let local_title = local_titles[0].substr(1,local_titles[0].length-2);
                            if (local_title) {
                                let cont = this[local_title];
                                if (cont!=null) {
                                    text = text.replace(templates[i], cont);
                                }
                            }
                        }
                        let params_sets = templates[i].match(/%.*?%/);
                        if (params_sets) {
                            let params_set = params_sets[0].substr(1,params_sets[0].length-2);
                            let params = templates[i].match(/\$.*?\$/);
                            let param = params[0].substr(1,params[0].length-2);
                            if (param) {
                                let cont = this.$store.getters.getParamFromSet(params_set,param);
                                if (cont!=null) {
                                    text = text.replace(templates[i], cont);
                                }
                            }
                        }
                    }
                }
                return text;
            }, 
            handleScroll(){
                this.$store.dispatch('setScrollPositionValue', window.scrollY)                
            },
        },
        beforeMount() {
            window.addEventListener("resize", this.onResize);            
        },
        destroyed() {
            //alert("destoryed     "+this.$store.getters.getProductTempCount({ 'uuid': '6f26f7dc-0223-4ef6-95e2-a445915110ba' }));
            window.removeEventListener("resize", this.onResize);
            window.removeEventListener('scroll', this.handleScroll);
        },
        async fetch({ store, params}) {
            debug("fetch in items list");
            await store.dispatch('getLastChanges');
            //debug('ITEMSLIST');
            if (store.getters.getCurrentVersion.seo != store.getters.getSEOVersion()) {
                await store.dispatch('getSEOParams');
                store.commit('setSEOVersion', store.getters.getCurrentVersion.seo);
            }
            if (store.getters.getToken==null) {
                await store.dispatch('getCSRFToken')
            }
            if (store.getters.getCurrentVersion.pages != store.getters.getPagesVersion()) {
                await store.dispatch('getPages')
                store.commit('setPagesVersion', store.getters.getCurrentVersion.pages);
            }
            if (store.getters.getCurrentVersion.contacts != store.getters.getContactVersion()) {
                await store.dispatch('getContact')
                store.commit('setContactVersion', store.getters.getCurrentVersion.contacts);
            }
            if (store.getters.getCurrentVersion.brands != store.getters.getBrandsVersion()) {
                await store.dispatch('getBrands')
                store.commit('setBrandsVersion', store.getters.getCurrentVersion.brands);
            }
            if (store.getters.getCurrentVersion.projects != store.getters.getProjectsVersion()) {
                await store.dispatch('getProjects')
                store.commit('setProjectsVersion', store.getters.getCurrentVersion.projects);
            }
            if (store.getters.getCurrentVersion.categories != store.getters.getCategoriesVersion()) {
                await store.dispatch('getCategories')
                store.commit('setCategoriesVersion', store.getters.getCurrentVersion.categories);
            }
            if (store.getters.getCurrentVersion.products != store.getters.getProductsVersion()) {
                await store.dispatch('getProducts')
                store.commit('setProductsVersion', store.getters.getCurrentVersion.products);
            }
        },
        fetchOnServer: true,
        computed: {
            getCurrentSortType() {
                return this.$store.getters.getSortType;
            },
            getSortOptions() {
                return this.$store.getters.getSortOptions(this.getCurrentLanguage);
            },
            getContent() {
                return this.$store.getters.getPage(this.page_identifier,this.page_type)[0];
            },
            currentCategory: function() {
                let a = this.$route.params.catalias;
//                let cc = this.$store.getters.allCategories(this.getCurrentLanguage).filter(item => item.alias == a)[0];
                let cc = this.allCategories.filter(item => item.alias == a)[0];
//                debug(cc);
                return cc;
            },
            getCurrentLanguage() {
                return (this.$store.getters.getCurrentLanguage != null)?this.$store.getters.getCurrentLanguage:this.$store.getters.getDefaultLanguage;
            },
            allCategories() {
//                debug("+++++");
                let ac = this.$store.getters.allCategories(this.getCurrentLanguage);
//                debug("=====     "+ac.length);
                return ac;
            },
            manufacturers() {
                debug("!!!manufacturers!!!")
                let products = this.$store.getters.getProductsForCategory(this.currentCategory.name, this.getCurrentLanguage);
                let brands = [];
                if (products) {
                    products.forEach(function(item) {
                        if (item.brand) {
                            if (brands.indexOf(item.brand)==-1) { brands.push(item.brand); }
                        }
                    });
                }
                return brands;
            },
            Items() {
                debug("@@@@@@@@");
                console.log("reading items");
                let i;
                let a = this.$route.params.catalias;
                let cat=this.$store.getters.allCategories(this.getCurrentLanguage).filter(item => item.alias == a)[0];
                debug(cat);
                console.log("for category");
                console.log(cat);
                let items = this.$store.getters.getProductsForCategory(cat.uuid, this.getCurrentLanguage);
                debug(items);
                console.log(items);
                let sorteditems = [];
                let st = this.$store.getters.getSortType;
//getCurrentSortType();
                items.forEach(function(item, index) {                    
                    i=0;
                    while(i<sorteditems.length) {
                        if (((st == 0) && (item.name < sorteditems[i].name)) || 
                            ((st == 1) && (item.price < sorteditems[i].price)) || 
                            ((st == 2) && (item.price>sorteditems[i].price))) {
                            break;
                        }
                        i++;
                    }
                    if (i==sorteditems.length) { 
//                        if (!('temp_count' in item)) { item.temp_count=1; }
                        sorteditems.push(item);
                    }
                    else { sorteditems.splice(i,0,item); }
                });
                return sorteditems;
            },
        },
        watch: {
            getCurrentLanguage(value, oldvalue) {
                for (let i = 0; i < this.labels.length; i++) {
                    if (this.labels[i].lang == value) {
                        this.label1 = this.labels[i].label1;
                        this.label2 = this.labels[i].label2;
                        this.label3 = this.labels[i].label3;
                        this.label4 = this.labels[i].label4;
                        this.label5 = this.labels[i].label5;
                        this.label6 = this.labels[i].label6;
                        this.label7 = this.labels[i].label7;
                        this.label8 = this.labels[i].label8;
                        this.label9 = this.labels[i].label9;
                        break;
                    }
                }
                this.displaylist = !this.displaylist;
                this.displaylist = !this.displaylist;
            },
            getCurrentSortType(val, oldval) {
                this.displaylist = !this.displaylist;
                this.displaylist = !this.displaylist;
            }
        },
        mounted(){
            //alert(this.$store.getters.getProductTempCount({ 'uuid': '6f26f7dc-0223-4ef6-95e2-a445915110ba' }));
            window.addEventListener('scroll', this.handleScroll);
            this.handleScroll();
            this.onResize();
            this.local_title = this.currentCategory.name;

            for (let i = 0; i < this.labels.length; i++) {
                if (this.labels[i].lang == this.getCurrentLanguage) {
                    this.label1 = this.labels[i].label1;
                    this.label2 = this.labels[i].label2;
                    this.label3 = this.labels[i].label3;
                    this.label4 = this.labels[i].label4;
                    this.label5 = this.labels[i].label5;
                    this.label6 = this.labels[i].label6;
                    this.label7 = this.labels[i].label7;
                    this.label8 = this.labels[i].label8;
                    this.label9 = this.labels[i].label9;
                    break;
                }
            }
        },
    }
</script>

<style lang="less" scoped>
@import '~assets/styles/index.less';
.info-category{	
	padding: 25px;
	font-size: 18px;
	line-height: 27px; 
	background-color: @light_text;
        display: flex;
}

@media(max-width: 575px){
    .info-category{
        flex-direction: column;
    }
    .category-img{
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.category-img{
    display: block;
    min-width: 80px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 30px;
}

.select-pos {    
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 20px;
}
.right{
	margin: 0 0 0 auto;
	width: fit-content;
}
.sort-margin{
	margin-top: 60px;
}
.text{
	display: inline-block;
	width: 100px;
	font-weight: bold;
	line-height: 47px;
}
ul {
    list-style: none;
    padding: 35px 0;
    margin: 0;
}
li{
	margin-bottom: 20px;
}
.sidebar{
	a{
		color: @dark-bg;
	}
	a:hover, label:hover, .selected{
		color: @main_color;
		font-weight: bold;
	}
}
input[type=checkbox] {
	//display: none;
} 
input[type=checkbox]:checked + label {
  color: @main_color;
  font-weight: bold;
} 
.small-button{
	margin-top: 15px;
}
.filter-show, .filter-hide{
	display: none;	
}
.icon-pos{
	margin-bottom: auto;
	margin-top: 0;
}

.counter{
    margin-top: 15px;
    display: flex;
}
.minus, .plus, .count{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  //z-index: 9999;
}
.count{
  background-color: @light_text;
  width: 80px;
  border: none;
  background-color: @medium-bg;
  text-align: center;
}
.minus, .plus{
  background-color: @main_color;
  font-weight: bold;
  color: @light_text;
}
.minus:hover, .plus:hover{
  background-color: @hover_main_color;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
@media(max-width: 767px){
	.filter-show, .filter-hide{
		display: block;		
		background-size: contain;
		background-position: center;
		float: left;
		width: 36px;
		height: 36px;	
	}
	.filter-show{
		background: url("~assets/images/filter-icon.png") no-repeat;		
	}
	.filter-hide, .filter-show:hover{
		background: url("~assets/images/filter-icon-hover.png") no-repeat;		
	}
	.select-pos{
		float: right;
	}
	.text{
		margin-top: auto;
		margin-bottom: auto;
	}
	.sidebar{
		position: relative;
		margin-top: 15px;
		background-color: @light_text;
		padding: 15px;
	}
	.icon-pos{
		float: left
	}
}
@media(max-width: 600px){
	.text, .select-pos{
		display: block;
	}
	.text{
		margin-left: auto;
		margin-right: 0;	
        width:auto;
        text-align: right;
	}
	.icon-pos{
		height: 94px;
	}
	.filter-hide,.filter-show{
		height: 100%;	
		background-position: bottom;		
	}
}
</style>
