<template>
    <div>
        <Header/>
        <div class="block medium-bg">
            <div v-if="item" class="container">
                <div class="row"><div class="col-md-12"><h2 class="text-uppercase text-center">{{ item.name }}</h2></div></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="info-block">
                            <div class="main-info">
                                <!-- <h3 v-if="h3OnTop">{{ item.name }}</h3> -->
                                <div v-if="item.images.length>0" class="item-slider-wrapper">
                                    <div id="item-slider">
                                        <button id="prev" class="prev control" :class="{'hide-controls': item.images.length <= 4}" @click="shiftSlide(-1)" :disabled="item.images[0].is_current">  </button>
                                        <div class="wrapper">
                                            <div class="slides" id="item-slides"><img v-for="img in item.images" v-bind:key="img.uuid" :src="img.url" @click="setCurrent(img)" class="item-slide" :class="{current:img.is_current}" alt="" /></div>
                                        </div>
                                        <button id="next" class="next control" :class="{'hide-controls': item.images.length <= 4}" @click="shiftSlide(1)" :disabled="item.images[item.images.length - 1].is_current"></button>
                                    </div>
                                    <div class="slide-to-show" id="slide-to-show">
                                        <transition name="fade">
                                            <img :src="largeImage.url" :key="largeImage.uuid" v-if="largeImage" id="item-slide-to-show" alt="" />
                                        </transition>
                                    </div>
                                </div>
                                <div class="right">
                                    <!-- <h3 v-if="!h3OnTop">{{ item.name }}</h3> -->
                                    <div class="price">от {{ item.price }} грн/кв.м.</div>
                                    <div>
                                        <div class="info-opt">Оптом и в розницу</div>
                                        <div class="info-time">Под заказ, 7 дней</div>
                                    </div>
                                    <form action="" autocomplete="off" @click.prevent="">
                                        <TempCount :product="item" :mode="'non-cart'" />
                                    </form>
                                    <div class="d-block">
                                        <div class="solid-button button button-margin" @click.prevent="addToCart(item)">Купить</div>
                                        <div class="button brdr-btn-main-color button-margin"  @click.prevent="showModalCallMeBack">Перезвоните мне</div>
                                    </div>
                                </div>
                            </div>
                            <div class="description">
                                <h4 v-html="label1"></h4><span v-html="item.full_description" />
                            </div>
                            <div v-if="item.characteristics && item.characteristics.length>0" class="specification">
                                <h4 v-html="label2"></h4>
                                <table>
                                    <tr v-for="ch in item.characteristics">
                                        <th>{{ getKey(ch) }}</th>
                                        <td>{{ item.brand}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer/>
    </div>
</template>

<script>
    import Header from "../components/Header.vue"
    import Footer from "../components/Footer.vue"
    import TempCount from "@/components/TempCount.vue";
    const debug = require('debug')('app:demo')

    export default{
        components: {	
            Header,
            Footer,
            TempCount,
        },
        data(){
            return{
                items: [],
                posInitial: null,
                largeImage: null,
                slides:[],
                slidesLength: null,
                slideSize: null,				
                index: 0,
                allowShift: true,				
                h3OnTop: false,
                page_identifier: 'ПРОДУКТ',
                page_type: 'Страница товара/услуги',
                local_title: '',
                local_subtitle: '',
                label1: null,
                label2: null,
                labels: [
                    {
                        "label1": "Опис",
                        "label2": "Характеристики",
                        "lang": "ua",
                    },
                    {
                        "label1": "Описание",
                        "label2": "Характеристики",
                        "lang": "ru",
                    },
                ],
            }
        },
        beforeMount() {
            window.addEventListener("resize", this.onResize);
        },
        mounted: function(){
            window.addEventListener('scroll', this.handleScroll);
            this.handleScroll();

            if (this.item) {
                this.largeImage = this.item.main_image;
                if (this.item.images.length>1) {
                    this.item.images.forEach(function(img,index) {
                        if (img.is_current==true) { this.largeImage=img; return;}
                    });
                }
            }
            this.items = document.getElementById('item-slides');
            debug(this.items);
            this.resetSlider();

            for (let i = 0; i < this.labels.length; i++) {
                if (this.labels[i].lang == this.getCurrentLanguage) {
                    this.label1 = this.labels[i].label1;
                    this.label2 = this.labels[i].label2;
                    break;
                }
            }
        },
        async fetch({ store, params}) {
            await store.dispatch('getLastChanges');
            debug('ITEM');
            if (store.getters.getCurrentVersion.seo != store.getters.getSEOVersion()) {
                await store.dispatch('getSEOParams');
                store.commit('setSEOVersion', store.getters.getCurrentVersion.seo);
            }
            if (store.getters.getToken==null) {
                await store.dispatch('getCSRFToken')
            }
            if (store.getters.getCurrentVersion.pages != store.getters.getPagesVersion()) {
                await store.dispatch('getPages')
                store.commit('setPagesVersion', store.getters.getCurrentVersion.pages);
            }
            if (store.getters.getCurrentVersion.contacts != store.getters.getContactVersion()) {
                await store.dispatch('getContact')
                store.commit('setContactVersion', store.getters.getCurrentVersion.contacts);
            }
            if (store.getters.getCurrentVersion.brands != store.getters.getBrandsVersion()) {
                await store.dispatch('getBrands')
                store.commit('setBrandsVersion', store.getters.getCurrentVersion.brands);
            }
            if (store.getters.getCurrentVersion.projects != store.getters.getProjectsVersion()) {
                await store.dispatch('getProjects')
                store.commit('setProjectsVersion', store.getters.getCurrentVersion.projects);
            }
            if (store.getters.getCurrentVersion.categories != store.getters.getCategoriesVersion()) {
                await store.dispatch('getCategories')
                store.commit('setCategoriesVersion', store.getters.getCurrentVersion.categories);
            }
            if (store.getters.getCurrentVersion.products != store.getters.getProductsVersion()) {
                await store.dispatch('getProducts')
                store.commit('setProductsVersion', store.getters.getCurrentVersion.products);
            }
        },
        fetchOnServer: true,
        destroyed() {
            window.removeEventListener("resize", this.onResize);
            window.removeEventListener('scroll', this.handleScroll);
        },
        head() {
            if (this.getContent) {
                if (this.local_title=='') {
                    this.local_title = this.currentCategory.name;
                }
                if (this.local_meta_description=='') {
                    this.local_meta_description = this.currentCategory.meta_description;
                }
                if (this.local_meta_keywords=='') {
                    this.local_meta_keywords = this.currentCategory.meta_keywords;
                }
                return {
                    title: this.process_text(this.getContent.title),
                    meta: [
                        { hid:'description', name: 'description', content: this.process_text(this.getContent.meta_description) },
                        { hid: 'keywords', name: 'keywords', content: this.process_text(this.getContent.meta_keywords) },
                    ],    
                    link: [
                        {
                            rel: 'stylesheet',
                            href: 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap'
                        }
                    ],
                }
            }
        },
        methods:{
            addToCart(product) {
                this.$store.commit('addToCart', product);
                let value = 1;
                this.$store.commit('setProductTempCount', {product, value});   
            },
            isNumber(evt){
              evt = (evt) ? evt : window.event;
              var charCode = (evt.which) ? evt.which : evt.keyCode;
              if ((charCode > 31 && (charCode < 48 || charCode > 57))) {
                evt.preventDefault();
              } else {
                return true;
              }
            },
            onResize(){
                if(document.documentElement.clientWidth <= 991) {
                    this.h3OnTop = true;
                } else{
                    this.h3OnTop = false;
                }
                this.resetSlider();
            },
            resetSlider() {
                this.slides = this.items.getElementsByClassName('item-slide');
                this.slidesLength = this.slides.length;
                const slide = this.items.getElementsByClassName('item-slide')[0].currentStyle ||  window.getComputedStyle(this.items.getElementsByClassName('item-slide')[0]);
                this.slideSize = +this.items.getElementsByClassName('item-slide')[0].offsetHeight + parseInt(slide.marginBottom);
                this.items.addEventListener('transitionend', this.checkShifting);
                this.items.style.top = 0;
                this.index = 0;
                this.setCurrent();
            },
            showModalCallMeBack() {
                this.$root.$emit('modal-cmb-on', true);
            },
            shiftSlide(dir) {
                this.items.classList.add('shifting');
                if (this.allowShift) {
                    this.posInitial = this.items.offsetTop;
                    for (var i = 0; i < this.item.images.length; i++) {
                        if(this.item.images[i].uuid === this.largeImage.uuid){
                            if (dir === 1) {
                                if(i !== (this.item.images.length - 1)){
                                    this.setCurrent(this.item.images[i + 1]);
                                    break;
                                }
                            } else if (dir === -1) {
                                if (i !== 0) {
                                    this.setCurrent(this.item.images[i - 1]);
                                    break;
                                }
                            }
                        }
                    }
                    if (dir === 1) {
                        if (this.index !== this.slidesLength - 4) {
                            this.items.style.top = (this.posInitial - this.slideSize) + "px";
                            this.index++;
                        }
                    } else if (dir === -1) {
                        if (this.index !== 0) {
                            this.items.style.top = (this.posInitial + this.slideSize) + "px";
                            this.index--;
                        }
                    }
                }
                this.allowShift = false;
            },
            checkShifting (){
                this.items.classList.remove('shifting');
                this.allowShift = true;
            },
            setCurrent(img) {
                if (this.images==null || !img) return;
                for (let i=0; i<this.images.length; i++) {
                    this.images[i].is_current=false;
                }
                img.is_current=true;
                this.largeImage = img;
            },
            process_text(text) {
                let templates = text.match(/\{.*?\}/g);
                if (templates) {
                    for (let i=0; i<templates.length; i++) {
                        let local_titles = templates[i].match(/#.*?#/);
                        if (local_titles) {
                            let local_title = local_titles[0].substr(1,local_titles[0].length-2);
                            if (local_title) {
                                let cont = this[local_title];
                                if (cont!=null) {
                                    text = text.replace(templates[i], cont);
                                }
                            }
                        }
                        let params_sets = templates[i].match(/%.*?%/);
                        if (params_sets) {
                            let params_set = params_sets[0].substr(1,params_sets[0].length-2);
                            let params = templates[i].match(/\$.*?\$/);
                            let param = params[0].substr(1,params[0].length-2);
                            if (param) {
                                let cont = this.$store.getters.getParamFromSet(params_set,param);
                                if (cont!=null) {
                                    text = text.replace(templates[i], cont);
                                }
                            }
                        }
                    }
                }
                return text;
            },
            getKey(element) {
                debug(element);
                return "123";
            },
            handleScroll(){
                this.$store.dispatch('setScrollPositionValue', window.scrollY)                
            },
        },
        computed: {
//            getCurrentSortType() {
//                return this.$store.getters.getSortType;
//            },
            getCurrentLanguage() {
                return (this.$store.getters.getCurrentLanguage != null)?this.$store.getters.getCurrentLanguage:this.$store.getters.getDefaultLanguage;
            },
            item() {
                debug("==========");
                let cat = this.$store.getters.getCategory(this.$route.params.catalias);
                let item = this.$store.getters.getProduct(cat.uuid,this.$route.params.productalias, this.getCurrentLanguage);
//                debug(item);
                return item;
            },
            getContent() {
                return this.$store.getters.getPage(this.page_identifier,this.page_type)[0];
            },
            currentCategory: function() {
                return this.$store.getters.getCategory(this.$route.params.catalias);
            },
            images() {
                return this.item.images;
            },
        },
        watch: {
            getCurrentLanguage(value, oldvalue) {
                for (let i = 0; i < this.labels.length; i++) {
                    if (this.labels[i].lang == value) {
                        this.label1 = this.labels[i].label1;
                        this.label2 = this.labels[i].label2;
                        break;
                    }
                }
            }
        },
    }
</script>

<style lang="less" scoped>
	@import '~assets/styles/index.less';
	.item-slider-wrapper{
		display: flex;
		flex-grow: 2;
	}
	.wrapper{
		overflow: hidden;
		position: relative;
		height: 480px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.slides{
		display: flex;
		flex-direction: column;
		position: relative;
		left: 0;
		top: 0px;
		height:  10000px;
		width: 100px;	

	}
	.item-slide{
		height: 100px;
		margin-bottom: 20px;
		width: 100%;
		background-color: @medium-bg;
		transition: 2s;
		position: relative;
		justify-content: center;
		cursor:pointer;
		object-fit: cover;
	}
	.control-container{
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
	}
	.control{
		width: 100%;
		height: 25px;
		transition: 0.4s;
		cursor:pointer; 
		border: none;
		outline: none;
	}
	.prev:disabled, .prev:disabled:hover{
		background: url('~assets/images/up-arr-unactive.png') no-repeat center;
		background-size: contain;
	}
	.next:disabled, .next:disabled:hover{
		background: url('~assets/images/down-arr-unactive.png') no-repeat center;
		background-size: contain;
	}	
	.prev:hover{
		background: url('~assets/images/up-arr-hover.png') no-repeat center;
		background-size: contain;
	}
	.next:hover{
		background: url('~assets/images/down-arr-hover.png') no-repeat center;
		background-size: contain;
	}
	.prev{
		background: url('~assets/images/up-arr.png') no-repeat center;
		background-size: contain;
	}
	.next{
		background: url('~assets/images/down-arr.png') no-repeat center;
		background-size: contain;
	}
	.slides.shifting {
		transition: top .4s;
	}
	.slide-to-show{
		width: 460px;
		height: 460px;
		overflow: hidden;
		margin-left: 30px;
		margin-right: 40px;
		margin-top: 50px;
        background-color: @medium-bg;
	}
	.current{
		padding: 4px;
		transition: 0.4s;
	}
	img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	.right{
		margin-top: 50px;
		flex-grow: 1;
	}
	.hide-controls{
		visibility: hidden;
	}

	.main-info{
		display: flex;	
		width: 100%;
	}
	.info-block{
		background-color: @light_text;
		width: 100%;
		padding: 30px;
	}

	h3{	
		margin-top: 0;
		margin-bottom: 25px;	
	}
	h4{
		margin-top: 40px;
		margin-bottom: 20px;
	}
	.button-margin{
		display: inline-block;
		margin-right: 30px;
		margin-top: 20px;
	}
	.info-time, .info-opt{
		font-size: 11px;
		line-height: 13px;
		display: inline;	
	}
	.info-opt::after{
		content: "";
		display: inline-block;
		width: 2px;
		height: 20px;
		background-color: @main_color;
		vertical-align: middle;	
		margin-left: 3px;
		margin-right: 3px;
	}
	.price{
		font-family: Montserrat;
		font-weight: 600;
		color: @main_color;
		font-size: 24px;
		font-weight: bold;	
		margin: 15px 0;	
	}
	.description{
		margin-top: 40px;
	}
	table{
		width: 100%;
		margin-bottom: 20px;
	}
	.col-header{	
		border-bottom: 1px solid @dark-bg;
	}
	td, th{
		padding: 15px;
	}
	th{
		font-weight: bold;
	}
	tr{
		border-bottom: 1px solid @medium-bg;
	}
	.post-testimonial{
		border: 1px solid @main_color;
	}
	.testimonial{
		border: 1px solid @dark-bg;
	}
    .counter{
        margin-top: 15px;
        display: flex;
    }
    .minus, .plus, .count{
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      //z-index: 9999;
    }
    .count{
      background-color: @light_text;
      width: 80px;
      border: none;
      background-color: @medium-bg;
      text-align: center;
    }
    .minus, .plus{
      background-color: @main_color;
      font-weight: bold;
      color: @light_text;
    }
    .minus:hover, .plus:hover{
      background-color: @hover_main_color;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type=number] {
      -moz-appearance:textfield;
    }
	@media(max-width: 1999px){	
		.button{
			width: 100%;
		}

	}
	@media(max-width: 991px){	
		.main-info{
			flex-direction: column;
		}
		.right{
			margin-top: 0;
			margin-bottom: 30px
		}

	}
	@media(max-width: 767px){	
	.slides{
		width: 50px;
	}
	.item-slide{
		height: 50px;
	}
	.slide-to-show{
		margin-right: 0;
		margin-left: 20px;
		margin-top: 40px; 
		height: 260px;
	}
	.wrapper{
		height: 280px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.control{
			height: 15px
		}
	}
	@media(max-width: 430px){
		th, td{
			display: block;
			padding: 5px 0;
		}
		tr{
			padding: 5px 0;
			border-bottom: 1px solid @medium-bg;
		}	
		.slides{
			width: 40px;
		}
		.item-slide{
			height: 40px;
			margin-bottom: 15px;
		}
		.slide-to-show{
			margin-left: 15px;
		}
		.info-block{
			padding: 20px
		}
		.slide-to-show, .wrapper{
			//height: 300px
		}	
		.slide-to-show{
			//margin-top: 34px;
		}
		.wrapper{
			height: 220px
		}
		.item-slider-wrapper{
			margin-bottom: 30px;
		}
	}
</style>
